<div [class.clickable]="usingOverlay" style="height: 100%" [matTooltip]="containerTooltip" (click)="toggleOverlay()">
    <o3-color-gradient-legend-bars *ngIf="!usingOverlay" [legendSegments]="legendSegments"></o3-color-gradient-legend-bars>
</div>

<o3-overlay [config]="overlayConfig">
    <o3-tab-group noUnderline cardClass="no-content-padding">
        <o3-tab [label]="legendPurpose">
            <o3-color-gradient-legend-bars style="height: 40px" [legendSegments]="legendSegments"></o3-color-gradient-legend-bars>
        </o3-tab>
    </o3-tab-group>
</o3-overlay>
