.row {
    padding: 0px 0px 12px;
    margin: 0px !important;
    width: 100%;
}

o3-tab-group {
    width: 100%;
}

o3-color-picker-gradient {
    margin: 0px -12px;
    padding: 0px 6px;
    width: calc(100% + 24px);
}
