#
# Configuration file with settings for various O3 helper commands
#

# The application class
MAIN_CLASS=com.optio3.cloud.deployer.DeployerApplication

# The Dropwizard configuration file
DROPWIZARD_FILE=deployer.yml

DROPWIZARD_CMD=deployer

##############################

# What image to create
DOCKER_IMAGE_TAG=optio3-deployer-snapshot

# The purpose for this image (e.g. hub, gateway, builder, etc.)
DOCKER_IMAGE_SERVICE=deployer

# The template for deployment.
DOCKER_IMAGE_CONFIG_TEMPLATE=deployer-deployment.yml

# The name of the container to run as
DOCKER_CONTAINER_NAME=optio3-deployer

# Port configuration, etc.
#DOCKER_EXTRA_OPTS="-p 8180:8180"
