<section class="bs page-content">
    <mat-card class="page-card">
        <mat-card-title>
            Legacy Imports

            <mat-menu #listMenu="matMenu">
                <button mat-menu-item (click)="importData()">Import</button>
            </mat-menu>
            <button mat-icon-button [matMenuTriggerFor]="listMenu" type="button" class="pull-right">
                <mat-icon>more_vert</mat-icon>
            </button>

        </mat-card-title>
        <mat-card-content>

            <o3-legacy-imports-list #legacyList>
            </o3-legacy-imports-list>

        </mat-card-content>
    </mat-card>
</section>
