@import "../app.variables.scss";

@mixin dialogs($theme) {
    .popup-content-container:focus {
        outline: none;
    }

    .mat-dialog-container {
        padding: 0 !important;
    }

    .mat-dialog-container,
    .o3-overlay--content-container {
        font-size: $font-size;

        .dialog-header {
            padding: 1.5rem 1.5rem 0;
        }

        .dialog-footer {
            padding: 1.5rem 1.5rem;

            button {
                margin-right: 8px;
            }
        }

        .dialog-body {
            padding: 1.5rem 1.5rem;

            & + .dialog-footer {
                padding-top: 0;
            }
        }

        // todo: remove classes that are not led by ampersand (.dialog-md, .dialog-lg, .dialog-xl) once builder is updated

        &.dialog-md, .dialog-md,
        &.dialog-lg, .dialog-lg {
            min-width: 200px;
            max-height: 95vh;
        }

        &.dialog-xl, .dialog-xl {
            width: 90vw;
            height: 95vh;
        }

        &.dialog-xl-wide, .dialog-xl-wide {
            width: 90vw;
        }

        @media only screen and (min-width: $sm) {
            &.dialog-md, .dialog-md,
            &.dialog-lg, .dialog-lg {
                min-width: 450px;
            }
        }

        @media only screen and (min-width: $md) {
            &.dialog-md, .dialog-md {
                min-width: 600px;
            }

            &.dialog-lg, .dialog-lg {
                min-width: 730px;
            }
        }

        @media only screen and (min-width: $lg) {
            &.dialog-lg, .dialog-lg {
                min-width: 800px;
            }
        }
    }
}
