/*
 * Copyright (C) 2017-, Optio3, Inc. All Rights Reserved.
 *
 * Proprietary & Confidential Information.
 *
 * Subscriber Actions
 * <p>Perform troubleshooting actions for your subscribers.</p><p>You can use these endpoints to&#58;</p><ul> <li>View a list of available actions</li> <li>Refresh the subscriber services that are currently running (SIM refresh) </li> <li>Disconnect/reconnect a subscriber (forces a new connection)</li> <li>Perform a SIM swap between two subscribers to transfer products, services and tariff details from one SIM to another</li></ul><p>The subscriber actions you can perform depend on the subscriber type and network.</p><p><strong>Note -</strong> Some endpoints require you to pass the subscriber <em>physicalId</em> parameter in the request. This value varies depending on the subscriber type&#58;</p><ul><li><em>Cellular</em> - use the ICCID</li><li><em>Non-IP</em> - use the Device EUI</li><li><em>Satellite</em> - use the IMEI</li></ul>
 *
 * OpenAPI spec version: 1.0.0
 *
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package com.optio3.infra.pelion.api;

import java.util.List;

import javax.ws.rs.Consumes;
import javax.ws.rs.GET;
import javax.ws.rs.POST;
import javax.ws.rs.Path;
import javax.ws.rs.PathParam;
import javax.ws.rs.Produces;

import com.optio3.infra.pelion.model.ActionPostBody;
import com.optio3.infra.pelion.model.ApiResults;
import com.optio3.infra.pelion.model.SubscriberActionsResponse;

@Path("/")
public interface ActionsApi
{
    @POST
    @Path("/subscribers/{physicalId}/actions/{actionName}")
    @Consumes({ "application/json" })
    public void subscribersPhysicalIdActionsActionNamePost(@PathParam("physicalId") String physicalId,
                                                           @PathParam("actionName") String actionName,
                                                           ActionPostBody body);

    @GET
    @Path("/subscribers/{physicalId}/actions")
    @Produces({ "application/json" })
    public ApiResults<List<SubscriberActionsResponse>> subscribersPhysicalIdActionsGet(@PathParam("physicalId") String physicalId);
}
