<section class="bs start-container">
    <mat-card>
        <form (ngSubmit)="resetPassword()" #resetPasswordForm="ngForm" novalidate autofocus>
            <mat-card-title><img style="height: 64px;" [src]="logo.color150Tall"></mat-card-title>
            <mat-card-content>
                <mat-form-field>
                    <input matInput type="email" placeholder="Email Address" [(ngModel)]="emailAddress" name="emailAddress" required autofocus>
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="text" placeholder="Token" [(ngModel)]="token" name="token" required>
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="password" placeholder="New Password" [(ngModel)]="password" name="password"
                           #passwordField='ngModel' o3PasswordPolicy required autocomplete="off">
                    <mat-error *ngIf="passwordField.invalid && passwordField.errors.password">{{passwordField.errors.password}}</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="password" placeholder="Repeat Password" [(ngModel)]="passwordConfirmation" name="passwordConfirmation"
                           #passwordConfirmationField='ngModel' [o3PasswordMatch]="password" required autocomplete="off">
                    <mat-error *ngIf="passwordConfirmationField.invalid && passwordConfirmationField.errors.password">{{passwordConfirmationField.errors.password}}</mat-error>
                </mat-form-field>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" type="submit" [disabled]="!resetPasswordForm.valid || resetPasswordForm.pristine">Reset Password</button>
                <button mat-raised-button type="button" (click)="cancel()">Cancel</button>
            </mat-card-actions>
        </form>
    </mat-card>
</section>

<!--Errors Container-->
<o3-error-list-pane></o3-error-list-pane>
