<mat-form-field *ngIf="enableFiltering">
    <input matInput type="text" placeholder="Filter FDT Entries" [(ngModel)]="filterObjects">
</mat-form-field>

<o3-datatable [table]="table" [showRowNumbers]="true" [showViewIcons]="false">
    <o3-datatable-column id="BBMD" sortId="bbmd" prop="result.bbmdTransport" name="BBMD"></o3-datatable-column>
    <o3-datatable-column id="Address" sortId="address" prop="result.entry.address" name="Address"></o3-datatable-column>
    <o3-datatable-column id="TTL" sortId="ttl" prop="result.entry.timeToLive" name="TTL"></o3-datatable-column>
    <o3-datatable-column id="RTTL" sortId="rttl" prop="result.entry.remainingTimeToLive" name="Remaining TTL"></o3-datatable-column>
</o3-datatable>
