<mat-form-field *ngIf="enableFiltering">
    <input matInput type="text" placeholder="Filter Discovered Objects" [(ngModel)]="filterObjects">
</mat-form-field>

<o3-datatable [table]="table" [showRowNumbers]="true">
    <o3-datatable-column id="transport" sortId="transport" prop="transport" name="Transport" format="TEMPLATE">
        <ng-container *o3DatatableCellTemplate="let row">
            <div *ngIf="allowSelection">
                <mat-checkbox [(ngModel)]="row.selected" (change)="selectionChanged()">
                    <span matTooltip="{{row.result.device.textForTransport}}" matTooltipShowDelay="500">{{row.result.device.textForTransport}}</span>
                </mat-checkbox>
            </div>
            <div *ngIf="!allowSelection">
                <span matTooltip="{{row.result.device.textForTransport}}" matTooltipShowDelay="500">{{row.result.device.textForTransport}}</span>
            </div>
        </ng-container>
    </o3-datatable-column>

    <o3-datatable-column id="MAC" sortId="mac" prop="result.device.textForMAC" name="MAC"></o3-datatable-column>
    <o3-datatable-column id="identity" sortId="identity" prop="result.device.textForIdentity" name="Device Id"></o3-datatable-column>
    <o3-datatable-column id="objectId" sortId="objectId" prop="result.objectId" name="Object Id"></o3-datatable-column>

    <o3-datatable-column id="hasProperties" prop="hasProperties" name="Fetched Properties" format="TEMPLATE">
        <ng-container *o3DatatableCellTemplate="let row">
            {{row.result.properties != undefined ? 'yes' : 'no'}}
        </ng-container>
    </o3-datatable-column>
</o3-datatable>
