<o3-wizard label="Perform Prober Action" [modalMode]="true" [data]="data" (wizardCancelled)="wizardCancel()" (wizardCommitted)="wizardCommit()">
    <o3-gateway-probers-wizard-action-step></o3-gateway-probers-wizard-action-step>
    <o3-gateway-probers-wizard-new-device-step></o3-gateway-probers-wizard-new-device-step>
    <o3-gateway-probers-wizard-protocol-step></o3-gateway-probers-wizard-protocol-step>
    <o3-gateway-probers-wizard-bacnet-op-step></o3-gateway-probers-wizard-bacnet-op-step>
    <o3-gateway-probers-wizard-bacnet-config-step></o3-gateway-probers-wizard-bacnet-config-step>
    <o3-gateway-probers-wizard-canbus-op-step></o3-gateway-probers-wizard-canbus-op-step>
    <o3-gateway-probers-wizard-canbus-config-step></o3-gateway-probers-wizard-canbus-config-step>
    <o3-gateway-probers-wizard-ipn-op-step></o3-gateway-probers-wizard-ipn-op-step>
    <o3-gateway-probers-wizard-ipn-config-step></o3-gateway-probers-wizard-ipn-config-step>
</o3-wizard>
