#
# Configuration file with settings for various O3 helper commands
#

# The application class
MAIN_CLASS=com.optio3.protocol.ipn.explorer.ObdiiExplorer

##############################

# What image to create
DOCKER_IMAGE_TAG=optio3-explorer-obdii-snapshot

# The name of the container to run as
DOCKER_CONTAINER_NAME=optio3-explorer-obdii

# Port configuration, etc.
#DOCKER_EXTRA_OPTS="-p 8180:8180"
