/*
Contains style overrides for Material design elements.
*/
@use '@angular/material' as mat;
@import "app.theme";
@import "app.variables";


$typography: mat.define-typography-config($font-family: $font-family);

@include mat.core($typography);

//----------------------------------------------------------------------------------------------------------------------
// Global
//----------------------------------------------------------------------------------------------------------------------
html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;

    * {
        font-family: $font-family;
        box-sizing: inherit;
    }
}

o3-standard-layout {
    position: absolute;
    display: block;
    max-height: 100%;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;

    > mat-toolbar {
        box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
    }
}

span.filler {
    flex: 1 auto;
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

//---------------------------------------------------------
// Typography
//---------------------------------------------------------
h1, h2, h3, h4, h5, h6 {
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: $headings-margin-y;
}

hr {
    border: 0;
    border-top: $hr-border-width solid $hr-border-color;
    margin-top: $paragraph-margin-y;
    margin-bottom: $paragraph-margin-y;
}

//---------------------------------------------------------
// Image
//---------------------------------------------------------
img.avatar {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    border: 2px double rgba(155, 155, 155, 0.5);
}

//---------------------------------------------------------
// Page
//---------------------------------------------------------
div.page-container {
    position: static;
}

div.page-content {
    padding: 8px;
}

div.page-content-fullscreen {
    position: fixed;
    z-index: 3;
    width: 100%;
    height: 100%;
}

div.page-toolbar-content {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

div.page-toolbar-left-content {
    width: 80%;
}

div.page-toolbar-right-content {
    width: 20%;
    right: 0;

    div.info-content {
        img.view {
            width: 100%;
        }
    }
}

mat-toolbar.page-footer {
    font-size: 14px;
}

//---------------------------------------------------------
// Top nav
//---------------------------------------------------------
mat-toolbar.topnav-container {
    position: fixed;
    z-index: 4;
    padding-right: 4px;
    padding-left: 4px;

    .topnav-menu-btn {
        margin-top: -4px;
    }

    .topnav-avatar {
        height: 28px;
        width: 28px;
        border-radius: 50%;
        border: 2px double rgba(255, 255, 255, 0.5);
    }

    .topnav-logo {
        height: 32px;
        padding: 0;
        margin: 0 6px 0 0;
        display: inline;
    }

    .topnav-title {
        font-weight: 200;
        padding: 0;
        margin-top: -2px;
        display: inline;

        img {
            display: inline;
            height: 22px;
            margin-top: -8px;
            padding-right: 8px;
        }
    }

    .topnav-search {
        display: inline;

        visibility: hidden;
        width: 0;
        transition: all .32s;
        opacity: 0;

        &.show {
            visibility: visible;
            width: 350px;
            opacity: 1;
        }

        .mat-input-underline {
            background-color: #fff;
        }

        .mat-focused {

            .mat-input-underline .mat-input-ripple {
                opacity: 0;
            }
        }

        .mat-form-field-label-wrapper,
        .mat-input-placeholder-wrapper {
            display: none;
        }
    }
}

//---------------------------------------------------------
//* Side nav
//---------------------------------------------------------
mat-sidenav-container {
    $header-height: 56px; // height of header
    $logo-height: 50px; // height of logo at bottom;
    $container-height: calc(100% - #{$header-height} - #{$logo-height});

    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;

    mat-sidenav {
        border-right: none !important;
    }

    mat-sidenav-content {
        position: relative;
        top: $header-height;
        height: calc(100% - #{$header-height}) !important;
    }

    mat-sidenav.mat-sidenav-opened.mat-sidenav-side, mat-sidenav.mat-sidenav-side.mat-sidenav-opening {
        box-shadow: 0 2px 2px -1px rgba(0, 0, 0, .1), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
    }

    div.sidenav-container {
        position: relative;
        width: 280px;
        overflow-y: auto;
        overflow-x: hidden;
        height: calc(100% - #{$header-height} - #{$logo-height});
        top: $header-height;
        padding-top: 11px;

        mat-list [mat-subheader], mat-nav-list [mat-subheader] {
            height: 24px;
            padding: 4px 16px 4px 16px;
        }

        div.mat-list-item {
            font-size: 14px;
        }

        div.mat-list-text {
            a {
                overflow: hidden;
                text-overflow: clip;
            }

            i {
                width: 28px;
            }
        }

        .sidenav-menu-sub {
            transition: all .32s;
            opacity: 0;
            visibility: hidden;
            height: 0;
        }

        .sidenav-menu-sub.show {
            visibility: visible;
            opacity: 1;
            height: 48px;
        }

        .sidenav-menu-sub-title {
            padding-left: 48px;
        }

        mat-nav-list {
            padding-top: 0;
        }
    }

    .o3-standard-layout--powered-by {
        position: absolute;
        height: $logo-height;
        width: 100%;
        padding-bottom: 10px;
        bottom: 0;
        display: flex;
        justify-content: center;
        background: white;

        img {
            height: 100%;
        }
    }

    mat-sidenav.sidenav-collapse {
        min-width: 0;

        div.sidenav-container {
            transition: all .32s;
            width: 48px;

            div.mat-list-item-content {
                padding: 0 13px;
            }

            div.mat-list-item {
                padding-right: 0;
            }

            div.mat-list-text {
                a {
                    text-overflow: clip;
                }
            }

            .sidenav-collapse-item {
                display: none;
            }

            span.label {
                display: none;
            }

            mat-list-item.sidenav-menu-sub {
                display: none;
            }
        }
    }

    mat-sidenav.sidenav-collapse:hover {
        div.sidenav-container {
            width: 280px;

            div.mat-list-item {
                padding-right: 16px;
            }

            .sidenav-collapse-item {
                display: inline-block;
            }

            span.label {
                display: inline-block;
            }

            mat-list-item.sidenav-menu-sub {
                display: block;
            }
        }
    }

    div.sidenav-bottom {
        border-top: 1px solid;
        position: absolute;
        bottom: 0;
        width: 280px;

        .sidenav-bottom-item {
            height: 64px;
            padding: 12px 16px 16px;
            width: 100%;
        }
    }
}

//---------------------------------------------------------
//* Message panel
//---------------------------------------------------------
mat-sidenav-container {
    div.message-panel {
        width: 320px;
        overflow-y: auto;
        overflow-x: hidden;

        div.time-panel {
            text-align: center;

            :nth-child(1) {
                font-size: 24px;
                font-weight: 300;
                margin: 8px;
            }

            :nth-child(2) {
                font-size: 72px;
                font-weight: 500;
                margin: 8px;
            }

            :nth-child(3) {
                font-size: 24px;
                font-weight: 300;
                margin: 8px;
            }
        }
    }
}

//---------------------------------------------------------
// mat-toolbar
//---------------------------------------------------------
mat-toolbar {
    mat-toolbar-row {
        h1.page-card-flexible-title {
            padding-left: 48px;
            font-size: 48px;
            margin-top: -16px;
            font-weight: 400;
        }
    }

    .mat-toolbar-nav {
        display: inline-block;

        .mat-toolbar-nav-title {
            padding: 0 2px;
            font-size: 24px;
            font-weight: 300;
        }

        .mat-toolbar-nav-icon {
            margin-right: 32px;
            margin-left: 2px;

            i {
                position: absolute;
                margin-top: 8px;
            }
        }
    }
}

//---------------------------------------------------------
// mat-list
//---------------------------------------------------------
mat-list.mat-list-with-fab {
    padding: 0 16px;
}

.page-nav {
    width: 100%;
    padding: 16px;

    mat-list-item {
        div.mat-list-item {
            div.mat-list-text {
                a {
                    i {
                        margin-right: 16px;
                    }
                }
            }
        }
    }
}

.page-nav-border {
    border-right: 1px solid #CCCCCC;
}

//---------------------------------------------------------
// mat-card
//---------------------------------------------------------
mat-card {
    mat-card-title {
        .card-title-filler {
            flex: 1 1 auto;
        }

        .card-title-menu {
            cursor: pointer;
            position: absolute;
            right: 16px;
            margin-top: -4px;
        }

        mat-chip-list {
            position: absolute;
            right: 64px;
        }
    }
}

mat-card.page-card {
    margin: 8px;

    mat-card-header {
        mat-card-title, mat-card-subtitle {
            margin-bottom: 8px;
        }
    }
}

mat-card.page-card-flexible {
    margin-top: -64px;
}

mat-card.page-card-flexible-tabs, div.page-card-flexible-tabs {
    margin-top: -48px;
    padding: 0;

    mat-card-actions {
        padding-left: 32px;
    }
}

mat-card.card-content-full {
    padding: 24px 0 0 0;

    .card-title-filler {
        flex: 1 1 auto;
    }

    mat-card-title, mat-card-subtitle, mat-card-header, mat-card-actions, mat-card-footer {
        padding: 0 24px 0 24px;
    }
}

mat-card.card-content-tabs {
    padding-top: 0;
}

mat-card.page-card-padding-bottom {
    padding-bottom: 24px;

    mat-card-actions {
        margin-bottom: 0;
        padding: 8px 24px;
    }
}

//---------------------------------------------------------
// mat-input
//---------------------------------------------------------
mat-form-field {
    width: 100%;

    &.mat-focused .mat-select-arrow {
        color: initial !important;
    }
}

//---------------------------------------------------------
//* mat-input
//---------------------------------------------------------
span.mat-button-wrapper {
    span.notify {
        position: absolute;
        border-radius: 50%;
        border-color: transparent;
        padding: 1.3px;
        width: 16px;
        height: 16px;
        background-color: red;
        color: white;
        vertical-align: baseline;
        text-align: center;
        white-space: nowrap;
        font-weight: bold;
        font-size: 12px;
        line-height: 1.4;
        display: inline;
        right: 0;
    }
}

.label, .badge {
    background-color: gray;
    color: white;
    font-size: 12px;
    padding: 2px 6px;
    border-radius: 25px;
    text-decoration: none;
    cursor: pointer;
}

//---------------------------------------------------------
// mat-menu
//---------------------------------------------------------
div.mat-menu-content {
    padding-top: 0;
    padding-bottom: 0;
}

.mat-menu-panel {
    min-height: 45px !important;
}

.mat-menu-panel.mat-menu-before.mat-menu-below {
    margin-top: 2.5px;
}

.menu-card {
    width: 280px;

    a.menu-block-btn {
        display: inline-block;
        text-align: center;
        padding: 8px 4px;
        margin: 12px;
        cursor: pointer;
        width: 66px;
        height: 78px;

        img {
            height: 34px;
            width: 34px;
        }

        span {
            line-height: 3;
            font-weight: 400;
            display: block;
            font-size: 12px;
        }
    }

    a.menu-block-btn:hover {
        border-radius: 2px;
        background-color: rgba(0, 0, 0, 0.08);
    }

    a.menu-block-bottom-btn {
        cursor: pointer;
        height: 32px;
        text-align: center;
        padding: 10px;
        font-size: 14px;
        font-weight: 400;
        display: block;
    }
}

section.bs {
    mat-checkbox.mat-checkbox > label.mat-checkbox-layout {
        margin: 0;
        display: inline-flex;
    }
}

//----------------------------------------------------------------------------------------------------------------------
// Responsive
//----------------------------------------------------------------------------------------------------------------------
//---------------------------------------------------------
// Toolbar
//---------------------------------------------------------
@mixin toolbar-responsive-height($height) {

    div.page-container {
        padding-top: $height;
    }

    div.sidenav-container {
        padding-top: $height;
    }

    div.message-panel {
        padding-top: $height;
    }

}

mat-card {
    textarea {
        padding: 0 16px;
        border: none;
        resize: none;
        width: 100%;
        background-color: transparent;
    }
}

//----------------------------------------------------------------------------------------------------------------------
// Theme mixin
//----------------------------------------------------------------------------------------------------------------------
@mixin quill-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);

    .ql-snow.ql-toolbar {
        background-color: map-get($background, card);

        button.mat-icon-button {
            padding: 0px;
        }

        .ql-picker {
            color: map-get($foreground, secondary-text);

            &.ql-size {
                width: 50px;

                .ql-picker-item[data-label]::before {
                    font-size: unset !important;
                }
            }

            &.ql-expanded .ql-picker-options {
                background-color: map-get($background, card);
            }
        }

        .ql-stroke {
            stroke: map-get($foreground, secondary-text);
        }
    }
}

@mixin topnav-theme($theme) {

    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);

    mat-toolbar.topnav-container {
        .topnav-search {
            display: inline;

            .md2-autocomplete-trigger.is-focused {
                border-bottom-color: white;
            }

            .md2-autocomplete-trigger svg {
                background-color: transparent;
            }
        }
    }

}

@mixin sidenav-theme($theme) {

    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);

    mat-list-item.active {
        background-color: map-get($background, disabled-button);
    }

    div.sidenav-container {
        div.sidenav-bottom {
            background-color: map-get($background, background);
            border-color: map-get($background, disabled-button);
        }
    }

}

@mixin menu-theme($theme) {

    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);

    .menu-card {
        a.menu-block-bottom-btn {
            background-color: map-get($background, disabled-button);
            color: map-get($foreground, text);
        }
    }

}

@mixin info-tile-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);
    div.widget-tile-icon-body {
        div.widget-tile-icon {
            i {
                color: map-get($foreground, divider);
            }
        }
    }
    div.widget-tile-icon-body {
        div.widget-tile-content {
            h3, p {
                color: map-get($foreground, icons);
            }
        }
    }
}

@mixin menu-block-btn-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);
    a.menu-block-btn:hover {
        background-color: mat.get-color-from-palette($background, disabled-button);
    }
    a.menu-block-btn {
        span {
            color: mat.get-color-from-palette($foreground, text);;
        }
    }
}

@mixin text-color($theme) {

    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);

    mat-card {
        mat-card-subtitle {
            color: map-get($foreground, text);

            h4 {
                color: map-get($foreground, text);

                small {
                    color: map-get($foreground, text);
                }
            }

            .counter-group {
                .counter {
                    .value {
                        color: map-get($foreground, text);
                    }

                    .desc {
                        color: map-get($foreground, text);
                    }
                }
            }
        }
    }
}

@mixin bg-color($theme) {

    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);

    .bg-primary {
        background-color: mat.get-color-from-palette($primary);
    }

    .bg-accent {
        background-color: mat.get-color-from-palette($accent);
    }

    .bg-warn {
        background-color: mat.get-color-from-palette($warn);
    }

    ::-webkit-scrollbar-thumb {
        background-color: map-get($foreground, hint-text);
    }

}

@mixin datatable-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);

    .datatable.material {
        background: mat.get-color-from-palette($background, background);
    }
    .datatable.material.striped .datatable-row-odd {
        background: mat.get-color-from-palette($background, disabled-button);
    }
    .datatable.material.single-selection .datatable-body-row.active,
    .datatable.material.single-selection .datatable-body-row.active .datatable-row-group, .datatable.material.multi-selection .datatable-body-row.active,
    .datatable.material.multi-selection .datatable-body-row.active .datatable-row-group, .datatable.material.multi-click-selection .datatable-body-row.active,
    .datatable.material.multi-click-selection .datatable-body-row.active .datatable-row-group {
        background-color: mat.get-color-from-palette($primary);
        color: mat.get-color-from-palette($foreground, text);
    }
    .datatable.material.single-selection .datatable-body-row.active:hover,
    .datatable.material.single-selection .datatable-body-row.active:hover .datatable-row-group, .datatable.material.multi-selection .datatable-body-row.active:hover,
    .datatable.material.multi-selection .datatable-body-row.active:hover .datatable-row-group, .datatable.material.multi-click-selection .datatable-body-row.active:hover,
    .datatable.material.multi-click-selection .datatable-body-row.active:hover .datatable-row-group {
        background-color: mat.get-color-from-palette($primary);
        color: mat.get-color-from-palette($foreground, text);
    }
    .datatable.material.single-selection .datatable-body-row.active:focus,
    .datatable.material.single-selection .datatable-body-row.active:focus .datatable-row-group, .datatable.material.multi-selection .datatable-body-row.active:focus,
    .datatable.material.multi-selection .datatable-body-row.active:focus .datatable-row-group, .datatable.material.multi-click-selection .datatable-body-row.active:focus,
    .datatable.material.multi-click-selection .datatable-body-row.active:focus .datatable-row-group {
        background-color: mat.get-color-from-palette($primary);
        color: mat.get-color-from-palette($foreground, text);
    }
    .datatable.material:not(.cell-selection) .datatable-body-row:hover,
    .datatable.material:not(.cell-selection) .datatable-body-row:hover .datatable-row-group {
        background-color: mat.get-color-from-palette($background, disabled-button);
    }
    .datatable.material:not(.cell-selection) .datatable-body-row:focus,
    .datatable.material:not(.cell-selection) .datatable-body-row:focus .datatable-row-group {
        background-color: mat.get-color-from-palette($background, disabled-button);
    }
    .datatable.material.cell-selection .datatable-body-cell:hover,
    .datatable.material.cell-selection .datatable-body-cell:hover .datatable-row-group {
        background-color: mat.get-color-from-palette($background, disabled-button);
    }
    .datatable.material.cell-selection .datatable-body-cell:focus,
    .datatable.material.cell-selection .datatable-body-cell:focus .datatable-row-group {
        background-color: mat.get-color-from-palette($background, disabled-button);
    }
    .datatable.material.cell-selection .datatable-body-cell.active,
    .datatable.material.cell-selection .datatable-body-cell.active .datatable-row-group {
        background-color: mat.get-color-from-palette($primary);
        color: mat.get-color-from-palette($foreground, text);
    }
    .datatable.material.cell-selection .datatable-body-cell.active:hover,
    .datatable.material.cell-selection .datatable-body-cell.active:hover .datatable-row-group {
        background-color: mat.get-color-from-palette($primary);
        color: mat.get-color-from-palette($foreground, text);
    }
    .datatable.material.cell-selection .datatable-body-cell.active:focus,
    .datatable.material.cell-selection .datatable-body-cell.active:focus .datatable-row-group {
        background-color: mat.get-color-from-palette($primary);
        color: mat.get-color-from-palette($foreground, text);
    }
    .datatable.material .datatable-header .datatable-row-left,
    .datatable.material .datatable-body .datatable-row-left {
        background-color: mat.get-color-from-palette($foreground, text);
    }
    .datatable.material .datatable-header .datatable-row-right,
    .datatable.material .datatable-header .datatable-header-cell.longpress {
        color: mat.get-color-from-palette($accent);
    }
    .datatable.material .datatable-body .datatable-row-detail {
        background: mat.get-color-from-palette($background, background);
    }
    .datatable.material .datatable-body .progress-linear .container {
        background-color: mat.get-color-from-palette($background, background);
    }
    .datatable.material .datatable-footer .datatable-pager a:hover {
        color: mat.get-color-from-palette($background, disabled-button);
        background-color: mat.get-color-from-palette($background, background);
    }
    .datatable-checkbox input[type='checkbox']:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 1rem;
        height: 1rem;
        background: mat.get-color-from-palette($background, background);;
        cursor: pointer;
    }
}

@mixin bootstrap-fixed-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);
    .breadcrumb > li > a {
        color: mat.get-color-from-palette($primary);
    }
    .pager li > a, .pager li > span {
        background-color: map-get($background, card);
        border: 1px solid map-get($foreground, divider);
        color: mat.get-color-from-palette($primary);
    }
    .table tbody tr td.cell-detail .cell-detail-description {
        color: map-get($foreground, secondary-text);
    }
}

//----------------------------------------------------------------------------------------------------------------------
// Mixin light theme
//----------------------------------------------------------------------------------------------------------------------
body.light {
    @include mat.all-component-themes($theme);
    @include quill-theme($theme);
    @include menu-theme($theme);
    @include bg-color($theme);
    @include text-color($theme);
    @include sidenav-theme($theme);
    @include topnav-theme($theme);
    @include info-tile-theme($theme);
    @include bootstrap-fixed-theme($theme);
    @include datatable-theme($theme);
    @include menu-block-btn-theme($theme);
}
