<o3-datatable [table]="table">
    <o3-datatable-column id="id" sortId="id" prop="id" name="Id"></o3-datatable-column>
    <o3-datatable-column id="tag" sortId="tag" prop="tag" name="Tag"></o3-datatable-column>
    <o3-datatable-column id="size" sortId="size" prop="size" name="Size" format="NUMBER"></o3-datatable-column>
    <o3-datatable-column id="created" sortId="created" prop="created" name="Created" [width]="90" [maxWidth]="90" format="DATE"></o3-datatable-column>
    <o3-datatable-column id="lastRefreshed" sortId="lastRefreshed" prop="lastRefreshed" name="Last Refreshed" [width]="120" [maxWidth]="120" format="DATE"></o3-datatable-column>
    <o3-datatable-column id="lastUsed" sortId="lastUsed" prop="lastUsed" name="Last Used" [width]="120" [maxWidth]="120" format="DATE"></o3-datatable-column>
</o3-datatable>
