<o3-datatable [table]="table">
    <o3-datatable-column id="name" prop="ext.model.name" name="Name"></o3-datatable-column>
    <o3-datatable-column id="jobs" prop="jobs" name="Builds"></o3-datatable-column>
    <o3-datatable-column id="instances" prop="instances" name="Instance Types"></o3-datatable-column>
    <o3-datatable-column id="createdOn" prop="ext.model.createdOn" name="Created" [width]="90" [maxWidth]="90" format="DATE"></o3-datatable-column>
    <o3-datatable-column id="updatedOn" prop="ext.model.updatedOn" name="Updated" [width]="90" [maxWidth]="90" format="DATE"></o3-datatable-column>
</o3-datatable>
