<section class="bs page-content">

    <o3-tab-group>

        <o3-tab-action label="Bind" (click)="bindGateway()" *ngIf="!gateway"></o3-tab-action>
        <o3-tab-action label="Unbind" (click)="unbindGateway()" *ngIf="gateway"></o3-tab-action>
        <o3-tab-action label="Export" (click)="exportNetwork()"></o3-tab-action>
        <o3-tab-action labelFirstLevel="Discovery" label="Auto Configure" (click)="autoConfigure()" *ngIf="gateway"></o3-tab-action>
        <o3-tab-action labelFirstLevel="Discovery" label="Trigger" (click)="rediscover()" *ngIf="gateway"></o3-tab-action>
        <o3-tab-action labelFirstLevel="Discovery" label="Force Listing Objects" (click)="relistObjects()" *ngIf="gateway"></o3-tab-action>
        <o3-tab-action labelFirstLevel="Discovery" label="Force Reading Objects" (click)="rereadObjects()" *ngIf="gateway"></o3-tab-action>

        <o3-tab-action labelFirstLevel="Sampling" label="Enable for Objects With Class ID" (click)="enableSamplingWithClassId()" *ngIf="networkExtended"></o3-tab-action>
        <o3-tab-action labelFirstLevel="Sampling" label="Disable for Objects Without Class ID" (click)="disableSamplingWithoutClassId()" *ngIf="networkExtended"></o3-tab-action>
        <o3-tab-action labelFirstLevel="Sampling" label="Refresh Configuration on Gateway" (click)="refreshSampling()" *ngIf="networkExtended"></o3-tab-action>

        <o3-tab label="Network Details">

            <o3-tab-action label="Edit" priority="primary" (click)="edit()" *ngIf="networkForm.pristine"></o3-tab-action>
            <o3-tab-action label="Update" priority="primary" type="submit" [form]="networkForm" *ngIf="!networkForm.pristine" [disabled]="!networkForm.valid"></o3-tab-action>
            <o3-tab-action label="Close" priority="secondary" (click)="exit()" *ngIf="networkForm.pristine"></o3-tab-action>
            <o3-tab-action label="Cancel" priority="secondary" (click)="cancel()" *ngIf="!networkForm.pristine"></o3-tab-action>

            <o3-tab-action label="Delete" icon="delete" priority="tertiary" (click)="remove()" [disabled]="networkNoDeleteReason != null"
                           [tooltip]="networkNoDeleteReason"></o3-tab-action>

            <form (ngSubmit)="save()" #networkForm="ngForm" novalidate>
                <div class="row">
                    <div class="col-sm-4">
                        <mat-form-field>
                            <input matInput type="text" placeholder="Name" [(ngModel)]="networkExtended.typedModel.name" (ngModelChange)="networkExtended.refreshDisplayName()" name="name" readonly>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-4">
                        <mat-form-field>
                            <input matInput type="text" placeholder="Last Updated" [value]="networkExtended.model.updatedOn|o3LongDate" name="updated_on" readonly>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-4">
                        <mat-form-field>
                            <mat-label>Operational Status</mat-label>
                            <mat-select [(ngModel)]="networkExtended.model.state" name="operationalStatus">
                                <mat-option *ngFor="let option of operationalStates" [value]="option.id">{{ option.label }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <mat-form-field>
                            <input matInput type="text" placeholder="Subnet Mask" [(ngModel)]="networkExtended.typedModel.cidr" name="cidr" readonly>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-4">
                        <mat-form-field>
                            <input matInput type="text" placeholder="Static Address" [(ngModel)]="networkExtended.typedModel.staticAddress" name="static_address" readonly>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-4">
                        <mat-form-field>
                            <input matInput type="text" placeholder="Network Interface" [(ngModel)]="networkExtended.typedModel.networkInterface" name="network_interface" readonly>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <mat-form-field>
                            <input matInput type="number" placeholder="Sampling Period (in seconds)" [(ngModel)]="networkExtended.typedModel.samplingPeriod" name="sampling_period">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <mat-form-field>
                            <o3-select [o3LocationSelector]="true" enableNavigation name="location" [multiSelect]="false"
                                       [ready]="networkLocationReady" [(ngModel)]="networkLocationID" (ngModelChange)="locationChanged($event)"></o3-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row py-0 clickable-input" (click)="viewGateway()" *ngIf="gateway">
                    <div class="col-11">
                        <mat-form-field>
                            <input matInput type="text" placeholder="Bound To Gateway"
                                   [value]="gateway.model.name || gateway.typedModel.instanceId"
                                   name="boundGateway"
                                   readonly>
                        </mat-form-field>
                    </div>
                    <div class="col-1">
                        <button mat-icon-button type="button">
                            <mat-icon>chevron_right</mat-icon>
                        </button>
                    </div>
                </div>

                <mat-accordion>

                    <mat-expansion-panel *ngIf="bacnet">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                BACnet
                            </mat-panel-title>
                            <mat-panel-description>
                                Configuration for BACnet devices
                            </mat-panel-description>
                        </mat-expansion-panel-header>

                        <div class="row o3-checkbox-container">
                            <div>
                                <mat-checkbox [(ngModel)]="bacnet.useUDP" name="enable_udp" disabled="true">Enable UDP</mat-checkbox>
                            </div>
                            <div>
                                <mat-checkbox [(ngModel)]="bacnet.useEthernet" name="enable_ethernet" disabled="true">Enable Ethernet</mat-checkbox>
                            </div>
                            <div>
                                <mat-checkbox [(ngModel)]="bacnet.disableBroadcast" name="disable_broadcast" disabled="true">Disable Broadcast Discovery</mat-checkbox>
                            </div>
                            <div>
                                <mat-checkbox [(ngModel)]="bacnet.sweepSubnet" name="enable_sweep_subnet" disabled="true">Sweep Subnet</mat-checkbox>
                            </div>
                            <div>
                                <mat-checkbox [(ngModel)]="bacnet.sweepMSTP" name="enable_sweep_mstp" disabled="true">Deep Sweep Of MS/TP Networks</mat-checkbox>
                            </div>
                            <div>
                                <mat-checkbox [(ngModel)]="bacnet.includeNetworksFromRouters" name="include_networks_from_routers" disabled="true">Discover Routers for MS/TP networks</mat-checkbox>
                            </div>
                        </div>

                        <div class="row" *ngIf="bacnet.useUDP && bacnet.networkPort">
                            <div class="col-sm-12">
                                <mat-form-field>
                                    <input matInput type="number" placeholder="Network Port" [ngModel]="bacnet.networkPort" name="bacnet_port" readonly>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row" *ngIf="bacnet.limitScan">
                            <div class="col-sm-2">
                                <mat-form-field>
                                    <input matInput type="number" placeholder="Limit Scan - Lowest Device Instance Number" [ngModel]="bacnet.limitScan.low" name="bacnet_limitScan_low" readonly>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-2">
                                <mat-form-field>
                                    <input matInput type="number" placeholder="Limit Scan - Highest Device Instance Number" [ngModel]="bacnet.limitScan.high" name="bacnet_limitScan_high" readonly>
                                </mat-form-field>
                            </div>
                        </div>

                        <div *ngIf="bacnet.bbmds.length > 0">
                            <div class="row">
                                <label>BBMDs</label>
                            </div>
                            <o3-bacnet-bbmd-table [rows]="bacnet.bbmds" [readonly]="true"></o3-bacnet-bbmd-table>
                        </div>

                        <div *ngIf="bacnet.scanSubnets.length > 0">
                            <div class="row">
                                <label>Forced Subnet Scans</label>
                            </div>
                            <o3-bacnet-subnet-table [rows]="bacnet.scanSubnets" [readonly]="true"></o3-bacnet-subnet-table>
                        </div>

                        <div *ngIf="bacnet.nonDiscoverableDevices.length > 0">
                            <div class="row">
                                <label>Non-Discoverable Devices</label>
                            </div>
                            <o3-non-discoverable-device-table [rows]="bacnet.nonDiscoverableDevices" [readonly]="true"></o3-non-discoverable-device-table>
                        </div>

                        <div *ngIf="bacnet.nonDiscoverableMstpTrunks.length > 0">
                            <div class="row">
                                <label>Non-Discoverable MS/TP Trunks</label>
                            </div>
                            <o3-non-discoverable-mstp-table [rows]="bacnet.nonDiscoverableMstpTrunks" [readonly]="true"></o3-non-discoverable-mstp-table>
                        </div>

                        <div *ngIf="bacnet.skippedDevices.length > 0">
                            <div class="row">
                                <label>Skipped Devices</label>
                            </div>

                            <o3-skipped-device-table [rows]="bacnet.skippedDevices" [readonly]="true"></o3-skipped-device-table>
                        </div>

                        <div *ngIf="bacnet.filterSubnets.length > 0">
                            <div class="row">
                                <label>Included Subnets</label>
                            </div>

                            <o3-bacnet-subnet-table [rows]="bacnet.filterSubnets" [readonly]="true"></o3-bacnet-subnet-table>
                        </div>

                    </mat-expansion-panel>

                    <mat-expansion-panel *ngIf="ipn">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                IPN
                            </mat-panel-title>
                            <mat-panel-description>
                                Configuration for IPN devices
                            </mat-panel-description>
                        </mat-expansion-panel-header>

                        <div class="row">
                            <div class="col-sm-2">
                                <mat-form-field>
                                    <input matInput type="number" placeholder="Accelerometer Frequency" [ngModel]="ipn.accelerometerFrequency" name="ipn_accelerometerFrequency" readonly>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-2">
                                <mat-form-field>
                                    <input matInput type="number" placeholder="Accelerometer Range (millig)" [ngModel]="ipn.accelerometerRange" name="ipn_accelerometerRange" readonly>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-2">
                                <mat-form-field>
                                    <input matInput type="number" placeholder="Accelerometer Threshold" matTooltip="Percent delta to trigger a new sample" [ngModel]="ipn.accelerometerThreshold"
                                           name="ipn_accelerometerThreshold" readonly>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-3">
                                <mat-form-field>
                                    <input matInput type="text" placeholder="BlueSky Port" [value]="ipn.ipnPort" name="ipn_ipnPort" readonly>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-2">
                                <mat-form-field>
                                    <input matInput type="number" placeholder="BlueSky baud rate" [ngModel]="ipn.ipnBaudrate" name="ipn_ipnBaudrate" readonly>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-2 slide-toggle">
                                <mat-slide-toggle [checked]="ipn.ipnInvert" name="ipn_ipnInvert" disabled>Flip wires</mat-slide-toggle>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-3">
                                <mat-form-field>
                                    <input matInput type="text" placeholder="CAN port" [value]="ipn.canPort" name="ipn_canPort" readonly>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-2">
                                <mat-form-field>
                                    <input matInput type="number" placeholder="Clock Speed" [ngModel]="ipn.canFrequency" name="ipn_canFrequency" readonly>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-1 slide-toggle">
                                <mat-slide-toggle [checked]="ipn.canNoTermination" name="ipn_canNoTermination" disabled>Disable Termination</mat-slide-toggle>
                            </div>
                            <div class="col-sm-1 slide-toggle">
                                <mat-slide-toggle [checked]="ipn.canInvert" name="ipn_canInvert" disabled>Flip wires</mat-slide-toggle>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-3">
                                <mat-form-field>
                                    <input matInput type="text" placeholder="EpSolar Port" [value]="ipn.epsolarPort" name="ipn_epsolarPort" readonly>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-2 slide-toggle">
                                <mat-slide-toggle [checked]="ipn.epsolarInvert" name="ipn_epsolarInvert" disabled>Flip wires</mat-slide-toggle>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-4">
                                <mat-form-field>
                                    <input matInput type="text" placeholder="GPS Port" [value]="ipn.gpsPort" name="ipn_gpsPort" readonly>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-3">
                                <mat-form-field>
                                    <input matInput type="text" placeholder="Holykell Port" [value]="ipn.holykellPort" name="ipn_holykellPort" readonly>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-2 slide-toggle">
                                <mat-slide-toggle [checked]="ipn.holykellInvert" name="ipn_holykellInvert" disabled>Flip wires</mat-slide-toggle>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-4">
                                <mat-form-field>
                                    <input matInput type="text" placeholder="OBD-II Port" [value]="ipn.obdiiPort" name="ipn_obdiiPort" readonly>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-2">
                                <mat-form-field>
                                    <input matInput type="number" placeholder="OBD-II bitrate" [ngModel]="ipn.obdiiFrequency" name="ipn_obdiiFrequency" readonly>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-3">
                                <mat-form-field>
                                    <input matInput type="text" placeholder="ArgoHytos Port" [value]="ipn.argohytosPort" name="ipn_argoHytosPort" readonly>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-3">
                                <mat-form-field>
                                    <input matInput type="text" placeholder="Montage Bluetooth Gateway Port" [value]="ipn.montageBluetoothGatewayPort" name="ipn_montageBluetoothGatewayPort" readonly>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-3">
                                <mat-form-field>
                                    <input matInput type="text" placeholder="StealthPower Port" [value]="ipn.stealthpowerPort" name="ipn_stealthpowerPort" readonly>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-3">
                                <mat-form-field>
                                    <input matInput type="text" placeholder="TriStar Port" [value]="ipn.tristarPort" name="ipn_tristarPort" readonly>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-3">
                                <mat-form-field>
                                    <input matInput type="text" placeholder="Victron Port" [value]="ipn.victronPort" name="ipn_victronPort" readonly>
                                </mat-form-field>
                            </div>
                        </div>

                        <div *ngIf="ipn_i2c_SHT3x.length > 0">
                            <div class="row">
                                <label>I2C Temperature/Humidity Sensors</label>
                            </div>
                            <o3-i2c-SHT30x-table [rows]="ipn_i2c_SHT3x" [readonly]="true"></o3-i2c-SHT30x-table>
                        </div>

                        <div *ngIf="ipn_i2c_MCP3428.length > 0">
                            <div class="row">
                                <label>I2C Analog Digital Converters</label>
                            </div>
                            <o3-i2c-MCP3428-table [rows]="ipn_i2c_MCP3428" [readonly]="true"></o3-i2c-MCP3428-table>
                        </div>

                    </mat-expansion-panel>
                </mat-accordion>
            </form>

        </o3-tab>

        <o3-tab label="Discovered Devices">
            <o3-devices-list #devicesList [parent]="networkExtended?.model" *ngIf="networkExtended"></o3-devices-list>
        </o3-tab>

        <o3-tab label="Network Statistics">

            <div class="row">
                <div class="col-sm">
                    <o3-range-selector [(selection)]="range" [allowCustom]="true" [allowTimezone]="true"></o3-range-selector>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2">
                    <mat-form-field>
                        <o3-select placeholder="Object" [multiSelect]="false" [singleClick]="true" [options]="elements" [(ngModel)]="deviceElementId"
                                   defaultValueDescription="Select Object" (ngModelChange)="refreshDeviceElement()">
                        </o3-select>
                    </mat-form-field>
                </div>
                <div class="col-sm-2">
                    <mat-form-field>
                        <mat-select placeholder="Source" name="selectedSource" [(ngModel)]="selectedSource" (ngModelChange)="updateConfig()">
                            <mat-option value="">Select Source</mat-option>
                            <mat-option *ngFor="let option of sources" [value]="option.id">{{ option.label }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm-2">
                    <mat-form-field>
                        <mat-select placeholder="Comparison" name="secondarySource" [(ngModel)]="secondarySource" (ngModelChange)="updateConfig()">
                            <mat-option value="">No Comparison</mat-option>
                            <mat-option *ngFor="let option of sources" [value]="option.id">{{ option.label }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row" o3-expand (expansionCompleted)="pvChart.refreshSize()" [min]="300">
                <o3-time-series-chart #pvChart [range]="range" [configExt]="config" [zoomable]="true"
                                      style="width: 100%; height: 100%"></o3-time-series-chart>
            </div>

        </o3-tab>

    </o3-tab-group>

</section>
