/*
 * Copyright (C) 2017-, Optio3, Inc. All Rights Reserved.
 *
 * Proprietary & Confidential Information.
 *
 * Optio3 Builder APIs
 * APIs and Definitions for the Optio3 Builder product.
 *
 * OpenAPI spec version: 1.0.0
 *
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package com.optio3.cloud.client.builder.api;


import java.io.InputStream;
import java.io.OutputStream;
import java.util.List;
import java.util.Map;
import java.util.concurrent.CompletableFuture;

import javax.ws.rs.*;
import javax.ws.rs.core.Response;
import javax.ws.rs.core.MediaType;

import com.fasterxml.jackson.annotation.*;
import com.fasterxml.jackson.databind.*;
import org.apache.cxf.jaxrs.ext.multipart.*;
import org.apache.cxf.jaxrs.ext.PATCH;

@Path("/")
public interface DataConnectionApi
{
    @GET
    @Path("/data-connection/endpoint/pelion/authcode")
    public String pelionAuthCode(@QueryParam("code") String code, @QueryParam("state") String state);

    @POST
    @Path("/data-connection/endpoint/AWS/SNS")
    @Consumes(
    {
        "text/plain"
    })
    @Produces(
    {
        "text/plain"
    })
    public String receiveRaw(@HeaderParam("x-amz-sns-message-type") String xAmzSnsMessageType, @HeaderParam("x-amz-sns-topic-arn") String xAmzSnsTopicArn, String body);

}
