/*
 * Copyright (C) 2017-, Optio3, Inc. All Rights Reserved.
 *
 * Proprietary & Confidential Information.
 *
 * Optio3 Builder APIs
 * APIs and Definitions for the Optio3 Builder product.
 *
 * OpenAPI spec version: 1.0.0
 *
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package com.optio3.cloud.client.builder.api;

import com.optio3.cloud.client.builder.model.RegistryTaggedImage;
import com.optio3.cloud.client.builder.model.RegistryTaggedImageUsage;
import com.optio3.cloud.client.builder.model.ReleaseStatusReport;
import com.optio3.cloud.client.builder.model.ValidationResults;

import java.io.InputStream;
import java.io.OutputStream;
import java.util.List;
import java.util.Map;
import java.util.concurrent.CompletableFuture;

import javax.ws.rs.*;
import javax.ws.rs.core.Response;
import javax.ws.rs.core.MediaType;

import com.fasterxml.jackson.annotation.*;
import com.fasterxml.jackson.databind.*;
import org.apache.cxf.jaxrs.ext.multipart.*;
import org.apache.cxf.jaxrs.ext.PATCH;

@Path("/")
public interface RegistryTaggedImagesApi
{
    @GET
    @Path("/registry-tagged-images/item/{id}/distribute")
    @Produces(
    {
        "application/json"
    })
    public Integer distribute(@PathParam("id") String id, @QueryParam("status") String status, @QueryParam("hostId") String hostId);

    @GET
    @Path("/registry-tagged-images/item/{id}")
    @Produces(
    {
        "application/json"
    })
    public RegistryTaggedImage get(@PathParam("id") String id);

    @POST
    @Path("/registry-tagged-images/batch")
    @Consumes(
    {
        "application/json"
    })
    @Produces(
    {
        "application/json"
    })
    public List<RegistryTaggedImage> getBatch(List<String> body);

    @GET
    @Path("/registry-tagged-images/item/{id}/usage")
    @Produces(
    {
        "application/json"
    })
    public RegistryTaggedImageUsage getUsage(@PathParam("id") String id);

    @GET
    @Path("/registry-tagged-images/lookup-tag")
    @Produces(
    {
        "text/plain"
    })
    public String lookupTagForRole(@QueryParam("status") String status, @QueryParam("arch") String arch, @QueryParam("role") String role);

    @POST
    @Path("/registry-tagged-images/item/{id}/mark/{status}")
    @Produces(
    {
        "application/json"
    })
    public RegistryTaggedImage mark(@PathParam("id") String id, @PathParam("status") String status);

    @DELETE
    @Path("/registry-tagged-images/item/{id}")
    @Produces(
    {
        "application/json"
    })
    public ValidationResults remove(@PathParam("id") String id, @QueryParam("dryRun") Boolean dryRun);

    @GET
    @Path("/registry-tagged-images/report/{status}")
    @Produces(
    {
        "application/json"
    })
    public List<ReleaseStatusReport> report(@PathParam("status") String status);

}
