/*
 * Copyright (C) 2017-, Optio3, Inc. All Rights Reserved.
 *
 * Proprietary & Confidential Information.
 *
 * Optio3 Builder APIs
 * APIs and Definitions for the Optio3 Builder product.
 *
 * OpenAPI spec version: 1.0.0
 *
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package com.optio3.cloud.client.builder.api;

import com.optio3.cloud.client.builder.model.RecordIdentity;
import com.optio3.cloud.client.builder.model.RepositoryCommit;

import java.io.InputStream;
import java.io.OutputStream;
import java.util.List;
import java.util.Map;
import java.util.concurrent.CompletableFuture;

import javax.ws.rs.*;
import javax.ws.rs.core.Response;
import javax.ws.rs.core.MediaType;

import com.fasterxml.jackson.annotation.*;
import com.fasterxml.jackson.databind.*;
import org.apache.cxf.jaxrs.ext.multipart.*;
import org.apache.cxf.jaxrs.ext.PATCH;

@Path("/")
public interface RepositoryCommitsApi
{
    @GET
    @Path("/repository-commits/item/{id}")
    @Produces(
    {
        "application/json"
    })
    public RepositoryCommit get(@PathParam("id") String id);

    @GET
    @Path("/repository-commits/item/{id}/parents")
    @Produces(
    {
        "application/json"
    })
    public List<RecordIdentity> getAncestors(@PathParam("id") String id, @QueryParam("depth") Integer depth);

    @POST
    @Path("/repository-commits/batch")
    @Consumes(
    {
        "application/json"
    })
    @Produces(
    {
        "application/json"
    })
    public List<RepositoryCommit> getBatch(List<String> body);

}
