#
# Configuration file with settings for various O3 helper commands
#

# The application class
MAIN_CLASS=com.optio3.cloud.hub.HubApplication

# Limit Hub memory to 300MB
MAX_HEAP=300

# The Dropwizard configuration file
DROPWIZARD_FILE=hub.yml

##############################

# The Maven profile to generate the Hibernate Metamodels
METAMODEL_PROFILE=metamodel-optio3-product-hub

# The root of all the changeset ids.
DB_MIGRATIONS_ID=hub

# Name of the database
DB_NAME=hub_db

# The development version of the DB schema to generate
DB_MIGRATIONS_LEVEL=2
DB_MIGRATIONS_VERSION=8

##############################

# The Docker image tag to use for the Node.js image
NODE_IMAGE_TAG=optio3-node--hub

# Where the Angular source code is
NODE_SRC=${O3_ROOT_DIR}/web/hub

# Where the Angular output should go
NODE_DST=${PWD}/src/main/resources/assets/website

##############################

# What image to create
DOCKER_IMAGE_TAG=optio3-hub-snapshot

# The purpose for this image (e.g. hub, gateway, builder, etc.)
DOCKER_IMAGE_SERVICE=hub

# The template for deployment.
DOCKER_IMAGE_CONFIG_TEMPLATE=hub-deployment.yml

# The name of the container to run as
DOCKER_CONTAINER_NAME=optio3-hub

# Port configuration, etc.
DOCKER_EXTRA_OPTS="-p 8080:8080 --label Optio3_Deployment_Purpose=hub"
