/*
 * Copyright (C) 2017-, Optio3, Inc. All Rights Reserved.
 *
 * Proprietary & Confidential Information.
 *
 * Docker Engine API
 * The Engine API is an HTTP API served by Docker Engine. It is the API the Docker client uses to communicate with the Engine, so everything the Docker client can do can be done with the API.
 *
 * OpenAPI spec version: 1.28
 *
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package com.optio3.infra.docker.api;

import java.util.List;

import javax.ws.rs.Consumes;
import javax.ws.rs.DELETE;
import javax.ws.rs.GET;
import javax.ws.rs.POST;
import javax.ws.rs.Path;
import javax.ws.rs.PathParam;
import javax.ws.rs.Produces;
import javax.ws.rs.QueryParam;

import com.optio3.infra.docker.model.Network;
import com.optio3.infra.docker.model.NetworkConnect;
import com.optio3.infra.docker.model.NetworkCreateConfig;
import com.optio3.infra.docker.model.NetworkCreateResponse;
import com.optio3.infra.docker.model.NetworkDisconnect;
import com.optio3.infra.docker.model.NetworksPruneReport;

@Path("/")
public interface NetworkApi
{
    @POST
    @Path("/networks/{id}/connect")
    @Consumes({ "application/octet-stream" })
    @Produces({ "application/json", "text/plain" })
    public void networkConnect(@PathParam("id") String id,
                               NetworkConnect container);

    @POST
    @Path("/networks/create")
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    public NetworkCreateResponse networkCreate(NetworkCreateConfig networkConfig);

    @DELETE
    @Path("/networks/{id}")
    @Consumes({ "application/json", "text/plain" })
    @Produces({ "application/json", "text/plain" })
    public void networkDelete(@PathParam("id") String id);

    @POST
    @Path("/networks/{id}/disconnect")
    @Consumes({ "application/json" })
    @Produces({ "application/json", "text/plain" })
    public void networkDisconnect(@PathParam("id") String id,
                                  NetworkDisconnect container);

    @GET
    @Path("/networks/{id}")
    @Consumes({ "application/json", "text/plain" })
    @Produces({ "application/json" })
    public Network networkInspect(@PathParam("id") String id,
                                  @QueryParam("verbose") Boolean verbose);

    @GET
    @Path("/networks")
    @Consumes({ "application/json", "text/plain" })
    @Produces({ "application/json" })
    public List<Network> networkList(@QueryParam("filters") String filters);

    @POST
    @Path("/networks/prune")
    @Consumes({ "application/json", "text/plain" })
    @Produces({ "application/json" })
    public NetworksPruneReport networkPrune(@QueryParam("filters") String filters);
}
