/*
 * Copyright (C) 2017-, Optio3, Inc. All Rights Reserved.
 *
 * Proprietary & Confidential Information.
 *
 * Docker Engine API
 * The Engine API is an HTTP API served by Docker Engine. It is the API the Docker client uses to communicate with the Engine, so everything the Docker client can do can be done with the API.
 *
 * OpenAPI spec version: 1.28
 *
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package com.optio3.infra.docker.api;

import java.util.List;

import javax.ws.rs.Consumes;
import javax.ws.rs.DELETE;
import javax.ws.rs.GET;
import javax.ws.rs.POST;
import javax.ws.rs.Path;
import javax.ws.rs.PathParam;
import javax.ws.rs.Produces;
import javax.ws.rs.QueryParam;

import com.optio3.infra.docker.model.Node;
import com.optio3.infra.docker.model.NodeSpec;

@Path("/")
public interface NodeApi
{
    @DELETE
    @Path("/nodes/{id}")
    @Consumes({ "application/json", "text/plain" })
    @Produces({ "application/json", "text/plain" })
    public void nodeDelete(@PathParam("id") String id,
                           @QueryParam("force") Boolean force);

    @GET
    @Path("/nodes/{id}")
    @Consumes({ "application/json", "text/plain" })
    @Produces({ "application/json", "text/plain" })
    public Node nodeInspect(@PathParam("id") String id);

    @GET
    @Path("/nodes")
    @Consumes({ "application/json", "text/plain" })
    @Produces({ "application/json", "text/plain" })
    public List<Node> nodeList(@QueryParam("filters") String filters);

    @POST
    @Path("/nodes/{id}/update")
    @Consumes({ "application/json", "text/plain" })
    @Produces({ "application/json", "text/plain" })
    public void nodeUpdate(@PathParam("id") String id,
                           @QueryParam("version") Long version,
                           NodeSpec body);
}
