/*
 * Copyright (C) 2017-, Optio3, Inc. All Rights Reserved.
 *
 * Proprietary & Confidential Information.
 *
 * Docker Engine API
 * The Engine API is an HTTP API served by Docker Engine. It is the API the Docker client uses to communicate with the Engine, so everything the Docker client can do can be done with the API.
 *
 * OpenAPI spec version: 1.28
 *
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package com.optio3.infra.docker.api;

import javax.ws.rs.Consumes;
import javax.ws.rs.GET;
import javax.ws.rs.POST;
import javax.ws.rs.Path;
import javax.ws.rs.Produces;
import javax.ws.rs.QueryParam;

import com.optio3.infra.docker.model.ExtendedClusterInfo;
import com.optio3.infra.docker.model.SwarmInitRequest;
import com.optio3.infra.docker.model.SwarmJoinRequest;
import com.optio3.infra.docker.model.SwarmSpec;
import com.optio3.infra.docker.model.SwarmUnlockKeyResponse;
import com.optio3.infra.docker.model.SwarmUnlockRequest;

@Path("/")
public interface SwarmApi
{
    @POST
    @Path("/swarm/init")
    @Consumes({ "application/json", "text/plain" })
    @Produces({ "application/json", "text/plain" })
    public String swarmInit(SwarmInitRequest body);

    @GET
    @Path("/swarm")
    @Consumes({ "application/json", "text/plain" })
    @Produces({ "application/json", "text/plain" })
    public ExtendedClusterInfo swarmInspect();

    @POST
    @Path("/swarm/join")
    @Consumes({ "application/json", "text/plain" })
    @Produces({ "application/json", "text/plain" })
    public void swarmJoin(SwarmJoinRequest body);

    @POST
    @Path("/swarm/leave")
    @Consumes({ "application/json", "text/plain" })
    @Produces({ "application/json", "text/plain" })
    public void swarmLeave(@QueryParam("force") Boolean force);

    @POST
    @Path("/swarm/unlock")
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    public void swarmUnlock(SwarmUnlockRequest body);

    @GET
    @Path("/swarm/unlockkey")
    @Consumes({ "application/json" })
    @Produces({ "application/json", "text/plain" })
    public SwarmUnlockKeyResponse swarmUnlockkey();

    @POST
    @Path("/swarm/update")
    @Consumes({ "application/json", "text/plain" })
    @Produces({ "application/json", "text/plain" })
    public void swarmUpdate(SwarmSpec body,
                            @QueryParam("version") Long version,
                            @QueryParam("rotateWorkerToken") Boolean rotateWorkerToken,
                            @QueryParam("rotateManagerToken") Boolean rotateManagerToken,
                            @QueryParam("rotateManagerUnlockKey") Boolean rotateManagerUnlockKey);
}
