/*
 * Copyright (C) 2017-, Optio3, Inc. All Rights Reserved.
 *
 * Proprietary & Confidential Information.
 *
 * Docker Engine API
 * The Engine API is an HTTP API served by Docker Engine. It is the API the Docker client uses to communicate with the Engine, so everything the Docker client can do can be done with the API.
 *
 * OpenAPI spec version: 1.28
 *
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package com.optio3.infra.docker.api;

import javax.ws.rs.Consumes;
import javax.ws.rs.GET;
import javax.ws.rs.POST;
import javax.ws.rs.Path;
import javax.ws.rs.Produces;
import javax.ws.rs.QueryParam;

import com.optio3.infra.docker.model.AuthConfig;
import com.optio3.infra.docker.model.AuthenticateOKBody;
import com.optio3.infra.docker.model.DiskUsage;
import com.optio3.infra.docker.model.Event;
import com.optio3.infra.docker.model.Info;
import com.optio3.infra.docker.model.Version;

@Path("/")
public interface SystemApi
{
    @POST
    @Path("/auth")
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    public AuthenticateOKBody systemAuth(AuthConfig authConfig);

    @GET
    @Path("/system/df")
    @Consumes({ "application/json", "text/plain" })
    @Produces({ "application/json", "text/plain" })
    public DiskUsage systemDataUsage();

    @GET
    @Path("/events")
    @Consumes({ "application/json", "text/plain" })
    @Produces({ "application/json" })
    public Event systemEvents(@QueryParam("since") String since,
                              @QueryParam("until") String until,
                              @QueryParam("filters") String filters);

    @GET
    @Path("/info")
    @Consumes({ "application/json", "text/plain" })
    @Produces({ "application/json" })
    public Info systemInfo();

    @GET
    @Path("/_ping")
    @Consumes({ "application/json", "text/plain" })
    @Produces({ "text/plain" })
    public String systemPing();

    @GET
    @Path("/version")
    @Consumes({ "application/json", "text/plain" })
    @Produces({ "application/json" })
    public Version systemVersion();
}
