/*
 * Copyright (C) 2017-, Optio3, Inc. All Rights Reserved.
 *
 * Proprietary & Confidential Information.
 *
 * Docker Engine API
 * The Engine API is an HTTP API served by Docker Engine. It is the API the Docker client uses to communicate with the Engine, so everything the Docker client can do can be done with the API.
 *
 * OpenAPI spec version: 1.28
 *
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package com.optio3.infra.docker.api;

import javax.ws.rs.Consumes;
import javax.ws.rs.DELETE;
import javax.ws.rs.GET;
import javax.ws.rs.POST;
import javax.ws.rs.Path;
import javax.ws.rs.PathParam;
import javax.ws.rs.Produces;
import javax.ws.rs.QueryParam;

import com.optio3.infra.docker.model.Volume;
import com.optio3.infra.docker.model.VolumesCreateBody;
import com.optio3.infra.docker.model.VolumesListOKBody;
import com.optio3.infra.docker.model.VolumesPruneReport;

@Path("/")
public interface VolumeApi
{
    @POST
    @Path("/volumes/create")
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    public Volume volumeCreate(VolumesCreateBody volumeConfig);

    @DELETE
    @Path("/volumes/{name}")
    @Consumes({ "application/json", "text/plain" })
    @Produces({ "application/json", "text/plain" })
    public void volumeDelete(@PathParam("name") String name,
                             @QueryParam("force") Boolean force);

    @GET
    @Path("/volumes/{name}")
    @Consumes({ "application/json", "text/plain" })
    @Produces({ "application/json" })
    public Volume volumeInspect(@PathParam("name") String name);

    @GET
    @Path("/volumes")
    @Consumes({ "application/json", "text/plain" })
    @Produces({ "application/json" })
    public VolumesListOKBody volumeList(@QueryParam("filters") String filters);

    @POST
    @Path("/volumes/prune")
    @Consumes({ "application/json", "text/plain" })
    @Produces({ "application/json" })
    public VolumesPruneReport volumePrune(@QueryParam("filters") String filters);
}
