<ng-container *ngIf="selectedSeverities && alertSeverityOptions.length">
    <mat-slide-toggle #test_allSeverities name="alert-table-all-severities"
                      [(ngModel)]="allSeverities" (ngModelChange)="updateAlertSeveritySelection()">
        Consider All Alert Severities
    </mat-slide-toggle>
    <mat-form-field class="o3-alert-severity-configurer--select" [style.margin-bottom.px]="severityMarginBottom">
        <o3-select #test_severities placeholder="Alert Severities" [options]="alertSeverityOptions" [disabled]="allSeverities"
                   name="alert-table-severities" [(ngModel)]="selectedSeverities" (ngModelChange)="selectedSeveritiesChange.emit($event)"></o3-select>
    </mat-form-field>
</ng-container>

<ng-container *ngIf="severityColors && alertSeverityEnums">
    <p>Which color should be associated with each alert severity?</p>
    <div class="o3-alert-severity-configurer--color-container">
        <mat-form-field *ngFor="let severity of severityColors" class="color-input o3-alert-severity-configurer--color">
            <o3-color-picker #test_color [placeholder]="severityName(severity)" [name]="severity.severity + '-color'"
                             [(ngModel)]="severity.color" (ngModelChange)="severityColorChanged()"></o3-color-picker>
        </mat-form-field>
    </div>
</ng-container>
