<o3-wizard label="Add Data Sources" [modalMode]="true" [data]="data" (wizardCancelled)="wizardCancel()" (wizardCommitted)="wizardCommit()">
    <o3-data-source-wizard-type-step></o3-data-source-wizard-type-step>
    <o3-data-source-wizard-graphs-step></o3-data-source-wizard-graphs-step>
    <o3-data-source-wizard-graph-bindings-step></o3-data-source-wizard-graph-bindings-step>
    <o3-data-source-wizard-points-step></o3-data-source-wizard-points-step>
    <o3-data-source-wizard-source-tuples-step></o3-data-source-wizard-source-tuples-step>
    <o3-data-source-wizard-pivot-table-step></o3-data-source-wizard-pivot-table-step>
    <o3-data-source-wizard-interaction-behavior-step></o3-data-source-wizard-interaction-behavior-step>
</o3-wizard>
