<section class="bs page-content">

    <form (ngSubmit)="save()" #userForm="ngForm" novalidate>
        <mat-card class="page-card">
            <mat-card-title>Details</mat-card-title>
            <mat-card-content>

                <div class="row">
                    <div class="col-sm-6">

                        <mat-form-field>
                            <input matInput type="text" placeholder="Context" [(ngModel)]="model.context" name="context" required>
                        </mat-form-field>

                        <mat-form-field>
                            <input matInput type="text" placeholder="Key" [(ngModel)]="model.key" name="key" required>
                        </mat-form-field>

                        <mat-form-field>
                            <input matInput type="text" placeholder="Secret" [(ngModel)]="model.value" name="secret" required>
                        </mat-form-field>

                    </div>
                </div>


            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" type="submit" [disabled]="!userForm.valid || userForm.pristine">Create</button>
                <button mat-raised-button type="button" (click)="exit()" *ngIf="userForm.pristine">Close</button>
                <button mat-raised-button type="button" (click)="exit()" *ngIf="!userForm.pristine">Cancel</button>
            </mat-card-actions>
        </mat-card>
    </form>

</section>
