/*
 * Copyright (C) 2017-, Optio3, Inc. All Rights Reserved.
 *
 * Proprietary & Confidential Information.
 *
 * wireless.twilio.com
 * No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)
 *
 * OpenAPI spec version: 2.4.9
 *
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package com.optio3.infra.twilio.api;

import javax.ws.rs.FormParam;
import javax.ws.rs.GET;
import javax.ws.rs.POST;
import javax.ws.rs.Path;
import javax.ws.rs.PathParam;
import javax.ws.rs.Produces;
import javax.ws.rs.QueryParam;

import com.optio3.infra.twilio.model.ApiResults;
import com.optio3.infra.twilio.model.Command;
import com.optio3.infra.twilio.model.Sim;
import com.optio3.infra.twilio.model.UsageRecord;

@Path("/")
public interface DefaultApi
{
    @GET
    @Path("/v1/Sims")
    @Produces({ "application/json" })
    public ApiResults listSims(@QueryParam("Status") Sim.Status status,
                               @QueryParam("Iccid") String iccid,
                               @QueryParam("RatePlan") String ratePlan,
                               @QueryParam("PageSize") Integer pageSize,
                               @QueryParam("Page") Integer page,
                               @QueryParam("PageToken") String pageToken);

    @POST
    @Path("/v1/Sims/{SimSid}")
    @Produces({ "application/json" })
    public Sim updateSim(@PathParam("SimSid") String simSid,
                         @FormParam("UniqueName") String uniqueName,
                         @FormParam("Status") Sim.Status status,
                         @FormParam("RatePlan") String ratePlan,
                         @FormParam("ResetStatus") String resetStatus);

    @GET
    @Path("/v1/Sims/{SimSid}/UsageRecords")
    @Produces({ "application/json" })
    public ApiResults getUsageRecords(@PathParam("SimSid") String simSid,
                                      @QueryParam("Start") String start,
                                      @QueryParam("End") String end,
                                      @QueryParam("Granularity") UsageRecord.Granularity granularity);

    @GET
    @Path("/v1/Sims/{SimSid}/DataSessions")
    @Produces({ "application/json" })
    public ApiResults getDataSessions(@PathParam("SimSid") String simSid,
                                      @QueryParam("Start") String start,
                                      @QueryParam("End") String end);

    @GET
    @Path("/v1/RatePlans")
    @Produces({ "application/json" })
    public ApiResults listRatePlans();

    @POST
    @Path("/v1/Commands")
    @Produces({ "application/json" })
    public Command command(@FormParam("Sim") String simSid,
                           @FormParam("Command") String command,
                           @FormParam("CommandMode") Command.CommandMode commandMode);
}
