.sample-section {
    padding: 5px 0px;
    margin-bottom: 5px;

    .sample-set {
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px;
        margin-bottom: 5px;
        border-radius: 5px;
        border: 1px solid #F0F0F0;
        background: #FCFCFC;

        > * {
            margin: 0px 5px;
        }

        o3-progress-bar {
            min-width: 100px;
        }
    }

    button {
        margin-right: 5px;
        margin-bottom: 5px;
    }
}

.demo-indicator {
    width: 16px;
    height: 16px;
    border-radius: 16px;
}

.progress-cell {
    height: 24px;
    width: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    o3-progress-icon {
        min-height: 24px;
        min-width: 24px;
    }
}
