@import '~@angular/material/_theming.scss';

@include mat-core();

$theme-primary: mat-palette($mat-blue);
$theme-accent: mat-palette($mat-amber, A200, A100, A400);
$theme-warn: mat-palette($mat-red);
