<o3-datatable [table]="table" [showRowNumbers]="false">
    <o3-datatable-column id="position" prop="model.position" name="Position"></o3-datatable-column>
    <o3-datatable-column id="name" prop="model.name" name="Name"></o3-datatable-column>
    <o3-datatable-column id="buildId" prop="model.buildId" name="BuildId"></o3-datatable-column>
    <o3-datatable-column id="createdOn" prop="model.createdOn" name="Created" [width]="90" [maxWidth]="90" format="DATE"></o3-datatable-column>
    <o3-datatable-column id="updatedOn" prop="model.updatedOn" name="Updated" [width]="90" [maxWidth]="90" format="DATE"></o3-datatable-column>
</o3-datatable>
