<ng-template o3-wizard-step-template>
    <div class="row">
        <div class="col-sm-12">
            <mat-form-field>
                <input matInput type="text" placeholder="Name" name="locationName"
                       [(ngModel)]="data.model.name" (ngModelChange)="data.model.displayName = data.model.name"
                       required autocomplete="off">
            </mat-form-field>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3">
            <mat-form-field>
                <o3-select placeholder="Type" name="locationType" singleClick [multiSelect]="false" required
                           [(ngModel)]="data.model.type" [options]="data.locationTypes">
                </o3-select>
            </mat-form-field>
        </div>
    </div>
</ng-template>
