<div class="row">
    <div class="col-sm-12">
        <form class="row mb-2" name="filterForm" (submit)="filterLoggers()">
            <div class="col-sm-12">
                <mat-form-field>
                    <mat-label>Filter</mat-label>
                    <input matInput type="text" class="mr-sm-2" id="filterInput" name="filterInput" placeholder="Filter List..." [(ngModel)]="filterText">
                </mat-form-field>
            </div>
        </form>
    </div>
</div>

<mat-accordion>
    <mat-expansion-panel *ngFor="let item of loggersFiltered">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{item.name}}
            </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="row" *ngIf="item.parent">
            <div class="col-sm-6">
                <mat-form-field>
                    <input matInput type="text" placeholder="Parent Logger" [value]="item.parent" name="item_parent" readonly>
                </mat-form-field>
            </div>
        </div>

        <div class="row" *ngFor="let sev of severities">

            <mat-form-field>
                <mat-select placeholder="{{sev}}" [name]="item.name + sev" [(ngModel)]="loggersMap[item.name][sev]" (ngModelChange)="updateLogger(item, sev)">
                    <mat-option *ngFor="let opt of statusOptions" [value]="opt.id">{{getLabel(item, sev, opt)}}</mat-option>
                </mat-select>
            </mat-form-field>

        </div>

    </mat-expansion-panel>
</mat-accordion>
