<o3-standard-layout>
    <o3-standard-layout-menu id="home" label="Home" faIcon="o3-home" link="/home" [exact]=true></o3-standard-layout-menu>
    <o3-standard-layout-menu id="sensors" label="Sensors" faIcon="o3-device" link="/sensors"></o3-standard-layout-menu>
    <o3-standard-layout-menu id="maintenance" i18n-label label="Maintenance" faIcon="fa fa-wrench">
        <o3-standard-layout-menu id="logging_config" i18n-label label="Logging" link="/configuration/loggers"></o3-standard-layout-menu>
        <o3-standard-layout-menu id="dump_threads" i18n-label label="Threads" link="/configuration/threads"></o3-standard-layout-menu>
    </o3-standard-layout-menu>
</o3-standard-layout>
