.button-row {
    button {
        margin-right: 8px;

        .button-icon {
            vertical-align: bottom;
            width: 20px;
            height: 20px;
            font-size: 20px;
        }
    }
}
