.mat-card {
    .mat-card-title,
    .mat-card-content {
        padding-left: 0px;
        padding-right: 0px;

        &.disabled {
            pointer-events: none;
            opacity: 0.5;
        }
    }
}
