<ng-template o3-wizard-step-template>
    <mat-slide-toggle name="all-locations" [(ngModel)]="allLocations" (ngModelChange)="allLocationsChanged()">Select All Locations</mat-slide-toggle>

    <mat-form-field class="col-sm-6 no-padding">
        <o3-select [o3LocationSelector]="true" [selectChildren]="!!alertMap" defaultValueDescription="Select Locations" [disabled]="allLocations"
                   name="particular-locations" [(ngModel)]="data.editor.selectedLocations" (ngModelChange)="updateSelections()"></o3-select>
    </mat-form-field>
    <mat-form-field class="col-sm-6 no-padding" *ngIf="alertMap as alertMap">
        <o3-select placeholder="Rollup Type" defaultValueDescription="Top Level" [options]="rollupOptions"
                   [multiSelect]="false" singleClick preventDeselection name="rollup"
                   [(ngModel)]="alertMap.rollupType" (ngModelChange)="updateSelections()"></o3-select>
    </mat-form-field>
</ng-template>
