iframe {
    display: block;
    height: 100%;
    width: 100%;
}

.loading-container {
    align-items: center;
    color: #607D8B;
    display: flex;
    height: 100%;
    justify-content: center;
    text-align: center;
}
