<div class="selector-container" [class.flex]="flex">
    <div class="selector-options">
        <!-- Search input-->
        <mat-form-field class="selector-option">
            <input matInput placeholder="Search and Filter" id="searchInput" name="searchInput" [(ngModel)]="term" (ngModelChange)="onSearchChanged($event)">
        </mat-form-field>

        <!-- Filters -->
        <o3-equipment-search-filters class="selector-option with-margin" label="Additional Search Options" [model]="searchRequestFilters"
                                     (filtersUpdated)="onSearchChanged(term)"></o3-equipment-search-filters>
    </div>

    <div class="selector-list" [class.mat-elevation-z2]="flex">
        <o3-datatable *ngIf="results"
                      [rows]="results.displayedResults"
                      [clickableRows]="false"
                      [showRowNumbers]="false"
                      [showViewIcons]="false"
                      [externalPaging]="true"
                      [messages]="messages"
                      [warningColor]="messageColor"
                      [count]="results.total"
                      [offset]="results.pageIndex"
                      [limit]="results.pageSize"
                      (page)="onPage($event, results)"
                      (activate)="toggleCheck($event.row)">
            <o3-datatable-column id="checkbox" [resizable]="false" [maxWidth]="48">
                <ng-template o3-datatable-cell-template let-row="row">
                    <div style="text-overflow: clip;">
                        <mat-checkbox class="o3-no-ripple" [disableRipple]="true" [(ngModel)]="row.checked" (click)="$event.preventDefault()"
                                      [disabled]="!canToggle(row)"></mat-checkbox>
                    </div>
                </ng-template>
            </o3-datatable-column>
            <o3-datatable-column id="point" name="Equipment">
                <ng-template o3-datatable-cell-template let-row="row">
                    <span matTooltip="{{row.text}}" matTooltipShowDelay="500">{{row.text}}</span><br/>
                    <small>{{row.subtext}}</small>
                </ng-template>
            </o3-datatable-column>
        </o3-datatable>
    </div>
</div>
