<o3-wizard label="Configure Instance" [modalMode]="true" [data]="data" (wizardCancelled)="wizardCancel()" (wizardCommitted)="wizardCommit()">
    <o3-digineous-wizard-action-step></o3-digineous-wizard-action-step>
    <!-- -->
    <o3-digineous-wizard-import-step></o3-digineous-wizard-import-step>
    <!-- -->
    <o3-digineous-wizard-active-devices-step></o3-digineous-wizard-active-devices-step>
    <!-- -->
    <o3-digineous-wizard-device-templates-action-step></o3-digineous-wizard-device-templates-action-step>
    <o3-digineous-wizard-device-templates-create-step></o3-digineous-wizard-device-templates-create-step>
    <o3-digineous-wizard-device-templates-edit-step></o3-digineous-wizard-device-templates-edit-step>
    <o3-digineous-wizard-device-templates-copy-step></o3-digineous-wizard-device-templates-copy-step>
    <o3-digineous-wizard-device-templates-delete-step></o3-digineous-wizard-device-templates-delete-step>
    <!-- -->
    <o3-digineous-wizard-machine-templates-action-step></o3-digineous-wizard-machine-templates-action-step>
    <o3-digineous-wizard-machine-templates-create-step></o3-digineous-wizard-machine-templates-create-step>
    <o3-digineous-wizard-machine-templates-edit-step></o3-digineous-wizard-machine-templates-edit-step>
    <o3-digineous-wizard-machine-templates-copy-step></o3-digineous-wizard-machine-templates-copy-step>
    <o3-digineous-wizard-machine-templates-delete-step></o3-digineous-wizard-machine-templates-delete-step>
    <!-- -->
    <o3-digineous-wizard-machines-action-step></o3-digineous-wizard-machines-action-step>
    <o3-digineous-wizard-machines-create-step></o3-digineous-wizard-machines-create-step>
    <o3-digineous-wizard-machines-edit-step></o3-digineous-wizard-machines-edit-step>
    <o3-digineous-wizard-machines-delete-step></o3-digineous-wizard-machines-delete-step>
</o3-wizard>
