label {
    text-transform: uppercase;
    font-size: 14px;
    color: rgba(0, 0, 0, .65);
    display: block !important;
}

.health-gauge-image {
    width: 250px;
    max-width: 90%;
}

.border-bottom {
    border-bottom: 1px solid #EAEAEA;
}

.border-left {
    border-left: 1px solid #EAEAEA;
}

.health-summary {
    padding-bottom: 9px;

    .row {
        border-top: 1px solid #EAEAEA;
        max-width: 30%;
        margin: 0 auto;

        .col-6 {
            padding: 10px;
        }

        label {
            line-height: 24px;
        }

        &:first-child {
            border-top: none;
        }
    }
}

.row {
    padding: 12px 0;
}

@media only screen and (max-width: 600px) {
    .border-left {
        border-left: none;
        margin: 10px 0 0;
        border-top: 1px solid #EAEAEA;
        padding-top: 20px;
    }
}
