<section class="bs page-content">
    <mat-card class="page-card">
        <mat-card-title>
            Repositories

            <button mat-button class="pull-right hidden-sm-down" (click)="newRepo()">
                <mat-icon>add_circle_outline</mat-icon>
                New Entry
            </button>

            <mat-menu #catalogListMenu="matMenu">
                <button mat-menu-item (click)="newRepo()"> New Entry</button>
            </mat-menu>
            <button mat-icon-button [matMenuTriggerFor]="catalogListMenu" type="button" class="pull-right hidden-md-up">
                <mat-icon>more_vert</mat-icon>
            </button>

        </mat-card-title>
        <mat-card-content>

            <o3-repositories-list #childList>
            </o3-repositories-list>

        </mat-card-content>
    </mat-card>
</section>
