<div #projectorContainer class="projector-container">
    <ng-template [ngTemplateOutlet]="negativeTabsSpace"></ng-template>
</div>

<div class="mat-tabbed-page" [ngClass]="{'has-actions': firstLevelActions?.length,
                                         'o3-tab-group--single-tab': activeTabs.length === 1,
                                         'o3-tab-group--no-underline': noUnderline,
                                         'o3-tab-group--fit-container': fitContainer}">
    <mat-tab-group persist-tab (selectedTabChange)="onSelectedTabChange($event)">
        <mat-tab *ngFor="let tab of activeTabs" [disabled]="noUnderline">
            <ng-template mat-tab-label>
                <div class="tab-label-wrapper" *ngIf="tab.indicator">
                    <div class="tab-indicator" [style.background]="tab.indicator"></div>
                    <div class="tab-text">{{tab.label}}</div>
                </div>
                <span *ngIf="!tab.indicator" style="color: rgba(0, 0, 0, 0.87)">{{tab.label}}</span>
            </ng-template>

            <mat-card class="page-card" [ngClass]="cardClass" [class.o3-flex]="fitContainer">
                <mat-card-actions class="secondary-fields" *ngIf="tab.meta?.template">
                    <ng-template [ngTemplateOutlet]="tab.meta.template.templateRef"></ng-template>
                </mat-card-actions>
                <mat-card-content (scroll)="publishScroll($event)">
                    <ng-template [cdkPortalOutlet]="tab.active ? tab.portal : undefined"></ng-template>
                    <ng-template [ngTemplateOutlet]="tab.template.templateRef"></ng-template>
                </mat-card-content>
                <mat-card-actions *ngIf="tab.actions?.length">

                    <!-- Desktop Buttons -->
                    <!--div wrapper is used on these to allow tooltip even when button is disabled - known bug: issue #5040-->
                    <div class="row hidden-xs-down">
                        <div class="col">
                            <ng-container *ngFor="let action of tab.primaryActions">
                                <div *ngIf="!action.icon" class="o3-tooltip-wrapper" [matTooltip]="action.tooltip" matTooltipShowDelay="500" matTooltipClass="o3-wide-tooltip">
                                    <button mat-raised-button color="primary" type="button" (click)="action.onClick($event)" [disabled]="action.disabled">{{action.label}}</button>
                                </div>
                                <div *ngIf="action.icon" class="o3-tooltip-wrapper" [matTooltip]="action.tooltip" matTooltipShowDelay="500" matTooltipClass="o3-wide-tooltip">
                                    <button mat-icon-button type="button" [disabled]="action.disabled" (click)="action.onClick($event)">
                                        <mat-icon>{{action.icon}}</mat-icon>
                                    </button>
                                </div>
                            </ng-container>
                            <ng-container *ngFor="let action of tab.secondaryActions">
                                <div *ngIf="!action.icon" class="o3-tooltip-wrapper" [matTooltip]="action.tooltip" matTooltipShowDelay="500" matTooltipClass="o3-wide-tooltip">
                                    <button mat-raised-button type="button" (click)="action.onClick($event)" [disabled]="action.disabled">{{action.label}}</button>
                                </div>
                                <div *ngIf="action.icon" class="o3-tooltip-wrapper" [matTooltip]="action.tooltip" matTooltipShowDelay="500" matTooltipClass="o3-wide-tooltip">
                                    <button mat-icon-button type="button" [disabled]="action.disabled" (click)="action.onClick($event)">
                                        <mat-icon>{{action.icon}}</mat-icon>
                                    </button>
                                </div>
                            </ng-container>
                            <div *ngIf="tab.informative" class="informative">
                                <div class="o3-tooltip-wrapper" [matTooltip]="tab.informative.tooltip" matTooltipShowDelay="500" matTooltipClass="o3-wide-tooltip">
                                    <div class="hidden-xs-down">{{tab.informative.label}}</div>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="tab.tertiaryActions.length > 0" class="col text-right tab-group-tertiary">
                            <ng-container *ngFor="let action of tab.tertiaryActions">
                                <div *ngIf="!action.icon" class="o3-tooltip-wrapper" [matTooltip]="action.tooltip" matTooltipShowDelay="500" matTooltipClass="o3-wide-tooltip">
                                    <button mat-raised-button class="hidden-xs-down" type="button" (click)="action.onClick($event)"
                                            [disabled]="action.disabled">{{action.label}}</button>
                                </div>
                                <div *ngIf="action.icon" class="o3-tooltip-wrapper" [matTooltip]="action.tooltip" matTooltipShowDelay="500" matTooltipClass="o3-wide-tooltip">
                                    <button mat-icon-button type="button" [disabled]="action.disabled" (click)="action.onClick($event)">
                                        <mat-icon>{{action.icon}}</mat-icon>
                                    </button>
                                </div>
                            </ng-container>
                        </div>
                    </div>

                    <!-- Mobile Buttons -->
                    <div class="hidden-sm-up">
                        <ng-container *ngFor="let action of tab.primaryActions">
                            <button *ngIf="!action.icon" mat-raised-button color="primary" type="button" (click)="action.onClick($event)" [disabled]="action.disabled">{{action.label}}</button>
                            <button *ngIf="action.icon" mat-icon-button type="button" [disabled]="action.disabled" (click)="action.onClick($event)">
                                <mat-icon>{{action.icon}}</mat-icon>
                            </button>
                        </ng-container>
                        <ng-container *ngFor="let action of tab.secondaryActions">
                            <button *ngIf="!action.icon" mat-raised-button type="button" (click)="action.onClick($event)" [disabled]="action.disabled">{{action.label}}</button>
                            <button *ngIf="action.icon" mat-icon-button type="button" [disabled]="action.disabled" (click)="action.onClick($event)">
                                <mat-icon>{{action.icon}}</mat-icon>
                            </button>
                        </ng-container>
                    </div>
                </mat-card-actions>
            </mat-card>

        </mat-tab>
    </mat-tab-group>

    <div class="mat-tab-group-actions" *ngIf="firstLevelActions?.length">
        <mat-menu #listMenu="matMenu">
            <div *ngFor="let firstLevelAction of firstLevelActions">

                <!-- 1st Level Menu Items -->
                <button mat-menu-item *ngIf="firstLevelAction.subActions.length == 0" [disabled]="firstLevelAction.action.disabled" (click)="firstLevelAction.action.onClick($event)">
                    <span>{{firstLevelAction.action.label}}</span>
                </button>
                <button mat-menu-item *ngIf="firstLevelAction.subActions.length != 0" [matMenuTriggerFor]="secondLevelMenu">
                    <span>{{firstLevelAction.label}}</span>
                </button>

                <!-- 2nd Level Menu -->
                <mat-menu #secondLevelMenu="matMenu">
                    <div *ngFor="let secondLevelAction of firstLevelAction.subActions">

                        <!-- 2nd Level Menu Items -->
                        <button mat-menu-item *ngIf="secondLevelAction.subActions.length == 0" [disabled]="secondLevelAction.action.disabled" (click)="secondLevelAction.action.onClick($event)">
                            <span>{{secondLevelAction.action.label}}</span>
                        </button>
                        <button mat-menu-item *ngIf="secondLevelAction.subActions.length != 0" [matMenuTriggerFor]="thirdLevelMenu">
                            <span>{{secondLevelAction.label}}</span>
                        </button>

                        <!-- 3rd Level Menu -->
                        <mat-menu #thirdLevelMenu="matMenu">
                            <button mat-menu-item *ngFor="let thirdLevelAction of secondLevelAction.subActions" [disabled]="thirdLevelAction.action.disabled"
                                    (click)="thirdLevelAction.action.onClick($event)">
                                <span>{{thirdLevelAction.action.label}}</span>
                            </button>
                        </mat-menu>
                    </div>
                </mat-menu>
            </div>
        </mat-menu>
        <button mat-icon-button [matMenuTriggerFor]="listMenu" type="button" class="pull-right" optio3TestId="tabGroupMenuButton">
            <mat-icon>more_vert</mat-icon>
        </button>
    </div>
</div>
