#
# Configuration file with settings for various O3 helper commands
#

# The application class
MAIN_CLASS=com.optio3.cloud.builder.BuilderApplication

# The Dropwizard configuration file
DROPWIZARD_FILE=builder.yml

##############################

# The Maven profile to generate the Hibernate Metamodels
METAMODEL_PROFILE=metamodel-optio3-product-builder

# The root of all the changeset ids.
DB_MIGRATIONS_ID=builder

# Name of the database
DB_NAME=builder_db

# The development version of the DB schema to generate
DB_MIGRATIONS_LEVEL=2
DB_MIGRATIONS_VERSION=10

##############################

# The Docker image tag to use for the Node.js image
NODE_IMAGE_TAG=optio3-node--builder

# Where the Angular source code is
NODE_SRC=${O3_ROOT_DIR}/web/builder

# Where the Angular output should go
NODE_DST=${PWD}/src/main/resources/assets/website

##############################

# What image to create
DOCKER_IMAGE_TAG=optio3-builder-snapshot

# The purpose for this image (e.g. hub, gateway, builder, etc.)
DOCKER_IMAGE_SERVICE=builder

# The name of the container to run as
DOCKER_CONTAINER_NAME=optio3-builder

# Port configuration, etc.
DOCKER_EXTRA_OPTS="-p 8180:8180"
