#
# Configuration file with settings for various O3 helper commands
#

# The application class
MAIN_CLASS=com.optio3.cloud.gateway.GatewayApplication

# The Dropwizard configuration file
DROPWIZARD_FILE=gateway.yml

DROPWIZARD_CMD=gateway

# The Maven profile to generate the Hibernate Metamodels
METAMODEL_PROFILE=metamodel-optio3-product-gateway

##############################

# What image to create
DOCKER_IMAGE_TAG=optio3-gateway-snapshot

# The purpose for this image (e.g. hub, gateway, builder, etc.)
DOCKER_IMAGE_SERVICE=gateway

# The template for deployment.
DOCKER_IMAGE_CONFIG_TEMPLATE=gateway-deployment.yml

# The name of the container to run as
DOCKER_CONTAINER_NAME=optio3-gateway

# Port configuration, etc.
#DOCKER_EXTRA_OPTS="-p 8180:8180"
