:host {
    display: block;
    flex-grow: 1;
}

.field--container {
    o3-report-element-container {
        display: block;
    }

    position: relative;
    max-height: 250px;
    overflow: hidden;

    .o3-content-protector {
        .truncation-fade {
            position: absolute;
            bottom: 0px;
            width: 100%;
            height: 40%;
            background-image: linear-gradient(to bottom, #ffffff00, #ffffff);
        }
    }
}
