<section class="bs page-content">
    <o3-tab-group #tabGroup>

        <o3-tab-action label="Mark As Release Candidate" [disabled]="!canMarkAsReleaseCandidate || isReleaseCandidate" (click)="markAsReleaseCandidate()"></o3-tab-action>
        <o3-tab-action label="Mark As Release" [disabled]="!canMarkAsRelease || isRelease" (click)="markAsRelease()"></o3-tab-action>
        <o3-tab-action label="Re-mark As Release" [disabled]="!isRelease" (click)="markAsRelease()"></o3-tab-action>
        <o3-tab-action label="Download To Hosts" [disabled]="!isRelease && !isReleaseCandidate" (click)="distribute()"></o3-tab-action>

        <o3-tab label="Job Details">

            <o3-tab-action label="Close" priority="secondary" (click)="exit()"></o3-tab-action>
            <o3-tab-action label="Stop" priority="tertiary" (click)="stopJob()" *ngIf="!jobNotExecuting()"></o3-tab-action>
            <o3-tab-action label="Remove" icon="delete" priority="tertiary" (click)="remove()" [disabled]="!jobNotExecuting() || extendedNoRemoveReason != null"
                           [tooltip]="extendedNoRemoveReason"></o3-tab-action>

            <form #modelForm="ngForm" novalidate>

                <div class="row">
                    <div class="col-sm-8">
                        <mat-form-field>
                            <input matInput type="text" placeholder="Name" [value]="extended.model.name" name="jobName" readonly>
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput type="text" placeholder="Id Prefix" [value]="extended.model.idPrefix" name="IdPrefix" readonly>
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput type="text" placeholder="Status" [value]="extended.model.status" name="jobStatus" readonly>
                        </mat-form-field>
                    </div>
                </div>
            </form>

        </o3-tab>

        <o3-tab label="Log" (selected)="log.enableKeyDownHandler()" (unselected)="log.disableKeyDownHandler()">

            <o3-tab-action label="Close" priority="secondary" (click)="exit()"></o3-tab-action>
            <o3-tab-action label="Download Log" priority="secondary" (click)="downloadLog()"></o3-tab-action>
            <o3-tab-action label="Stop" priority="tertiary" [disabled]="jobNotExecuting()" (click)="stopJob()"></o3-tab-action>

            <section o3-expand>
                <o3-console-log [scrollLockEnabled]="lockScroll" #log>
                    <o3-console-log-column type="lineNumber" name="#" [enabled]="true"></o3-console-log-column>
                    <o3-console-log-column type="timestamp" name="Timestamp" [enabled]="true"></o3-console-log-column>
                </o3-console-log>
            </section>

        </o3-tab>

        <o3-tab label="Sources">

            <o3-tab-action label="Close" priority="secondary" (click)="exit()"></o3-tab-action>
            <o3-tab-action label="Stop" priority="tertiary" [disabled]="jobNotExecuting()" (click)="stopJob()"></o3-tab-action>

            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-striped table-bordered selectable">
                        <thead>
                        <tr>
                            <th>Repo</th>
                            <th>Branch</th>
                            <th>Commit</th>
                            <th>Comment</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let item of jobSources">
                            <td>
                                {{item.repo}}
                            </td>
                            <td>
                                {{item.branch}}
                            </td>
                            <td>
                                <span matTooltip="{{item.commit}}" matTooltipShowDelay="500">{{item.commitShort}}</span>
                            </td>
                            <td>
                                {{item.comment}}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </o3-tab>

        <o3-tab label="Steps">

            <o3-tab-action label="Close" priority="secondary" (click)="exit()"></o3-tab-action>
            <o3-tab-action label="Stop" priority="tertiary" [disabled]="jobNotExecuting()" (click)="stopJob()"></o3-tab-action>

            <o3-job-steps-list #childListSteps [extended]="extended" *ngIf="extended">
            </o3-job-steps-list>

        </o3-tab>

        <o3-tab label="Images">

            <o3-tab-action label="Close" priority="secondary" (click)="exit()"></o3-tab-action>
            <o3-tab-action label="Stop" priority="tertiary" [disabled]="jobNotExecuting()" (click)="stopJob()"></o3-tab-action>

            <o3-job-images-list #childListImages [extended]="extended" *ngIf="extended">
            </o3-job-images-list>

        </o3-tab>
    </o3-tab-group>
</section>
