<section class="bs page-content">

    <form (ngSubmit)="save()" #passwordForm="ngForm">
        <mat-card class="page-card">
            <mat-card-title>Change Password</mat-card-title>
            <mat-card-content>

                <div class="row">
                    <div class="col-sm-6">

                        <mat-form-field>
                            <input matInput type="password" placeholder="Current Password" [(ngModel)]="currentPassword" name="currentPassword" required>
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput type="password" placeholder="New Password" [(ngModel)]="newPassword" name="newPassword"
                                   #passwordField='ngModel' o3PasswordPolicy required autocomplete="off">
                            <mat-error *ngIf="passwordField.invalid && passwordField.errors.password">{{passwordField.errors.password}}</mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput type="password" placeholder="Repeat Password" [(ngModel)]="passwordConfirmation" name="passwordConfirmation"
                                   #passwordConfirmationField='ngModel' [o3PasswordMatch]="newPassword" required autocomplete="off">
                            <mat-error *ngIf="passwordConfirmationField.invalid && passwordConfirmationField.errors.password">{{passwordConfirmationField.errors.password}}</mat-error>
                        </mat-form-field>

                    </div>
                </div>


            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" type="submit" [disabled]="!passwordForm.valid || passwordForm.pristine">Update</button>
                <button mat-raised-button type="button" (click)="exit()" *ngIf="passwordForm.pristine">Close</button>
                <button mat-raised-button type="button" (click)="exit()" *ngIf="!passwordForm.pristine">Cancel</button>
            </mat-card-actions>
        </mat-card>
    </form>

</section>
