/*
 * Copyright (C) 2017-, Optio3, Inc. All Rights Reserved.
 *
 * Proprietary & Confidential Information.
 *
 * Optio3 Hub APIs
 * APIs and Definitions for the Optio3 Hub product.
 *
 * OpenAPI spec version: 1.0.0
 *
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package com.optio3.cloud.client.hub.api;

import com.optio3.cloud.client.hub.model.AlertFilterRequest;
import com.optio3.cloud.client.hub.model.AlertFilterResponse;
import com.optio3.cloud.client.hub.model.AlertHistory;
import com.optio3.cloud.client.hub.model.AlertsReportProgress;
import java.io.InputStream;
import com.optio3.cloud.client.hub.model.RecordIdentity;
import java.time.ZonedDateTime;

import java.io.InputStream;
import java.io.OutputStream;
import java.util.List;
import java.util.Map;
import java.util.concurrent.CompletableFuture;

import javax.ws.rs.*;
import javax.ws.rs.core.Response;
import javax.ws.rs.core.MediaType;

import com.fasterxml.jackson.annotation.*;
import com.fasterxml.jackson.databind.*;
import org.apache.cxf.jaxrs.ext.multipart.*;
import org.apache.cxf.jaxrs.ext.PATCH;

@Path("/")
public interface AlertsApi
{
    @GET
    @Path("/alerts/report/check/{id}")
    @Produces(
    {
        "application/json"
    })
    public AlertsReportProgress checkAlertsReport(@PathParam("id") String id, @QueryParam("detailed") Boolean detailed);

    @GET
    @Path("/alerts/feed")
    @Produces(
    {
        "application/json"
    })
    public List<RecordIdentity> getAlertFeed(@QueryParam("rangeStart") ZonedDateTime rangeStart, @QueryParam("rangeEnd") ZonedDateTime rangeEnd);

    @POST
    @Path("/alerts/batch-history")
    @Produces(
    {
        "application/json"
    })
    public List<AlertHistory> getAlertHistoryBatch(List<String> body);

    @GET
    @Path("/alerts/fetch-history/{id}")
    @Produces(
    {
        "application/json"
    })
    public AlertHistory getAlertHistoryByID(@PathParam("id") String id);

    @POST
    @Path("/alerts/summary")
    @Consumes(
    {
        "application/json"
    })
    @Produces(
    {
        "application/json"
    })
    public AlertFilterResponse getSummary(@QueryParam("groupBy") String groupBy, @QueryParam("rollupType") String rollupType, AlertFilterRequest body);

    @GET
    @Path("/alerts/history/{id}")
    @Produces(
    {
        "application/json"
    })
    public List<RecordIdentity> listAlertHistoryByID(@PathParam("id") String id, @QueryParam("rangeStart") ZonedDateTime rangeStart, @QueryParam("rangeEnd") ZonedDateTime rangeEnd);

    @POST
    @Path("/alerts/report")
    @Produces(
    {
        "text/plain"
    })
    public String startAlertsReport();

    @GET
    @Path("/alerts/report/excel/{id}/{fileName}")
    @Produces(
    {
        "application/octet-stream"
    })
    public InputStream streamAlertsReport(@PathParam("id") String id, @PathParam("fileName") String fileName);

}
