/*
 * Copyright (C) 2017-, Optio3, Inc. All Rights Reserved.
 *
 * Proprietary & Confidential Information.
 *
 * Optio3 Hub APIs
 * APIs and Definitions for the Optio3 Hub product.
 *
 * OpenAPI spec version: 1.0.0
 *
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package com.optio3.cloud.client.hub.api;

import com.optio3.cloud.client.hub.model.AlertDefinitionDetails;
import com.optio3.cloud.client.hub.model.AlertDefinitionVersion;
import com.optio3.cloud.client.hub.model.AlertEngineExecutionSteps;
import com.optio3.cloud.client.hub.model.AlertTestProgress;
import com.optio3.cloud.client.hub.model.RawImport;
import java.time.ZonedDateTime;

import java.io.InputStream;
import java.io.OutputStream;
import java.util.List;
import java.util.Map;
import java.util.concurrent.CompletableFuture;

import javax.ws.rs.*;
import javax.ws.rs.core.Response;
import javax.ws.rs.core.MediaType;

import com.fasterxml.jackson.annotation.*;
import com.fasterxml.jackson.databind.*;
import org.apache.cxf.jaxrs.ext.multipart.*;
import org.apache.cxf.jaxrs.ext.PATCH;

@Path("/")
public interface AlertDefinitionVersionsApi
{
    @GET
    @Path("/alert-definition-versions/eval-range/{id}/check")
    @Produces(
    {
        "application/json"
    })
    public AlertTestProgress checkEvaluation(@PathParam("id") String id, @QueryParam("detailed") Boolean detailed);

    @POST
    @Path("/alert-definition-versions/create")
    @Consumes(
    {
        "application/json"
    })
    @Produces(
    {
        "application/json"
    })
    public AlertDefinitionVersion create(AlertDefinitionVersion body);

    @GET
    @Path("/alert-definition-versions/eval/{id}")
    @Produces(
    {
        "application/json"
    })
    public AlertEngineExecutionSteps evaluate(@PathParam("id") String id, @QueryParam("maxSteps") Integer maxSteps, @QueryParam("when") ZonedDateTime when, @QueryParam("trace") Boolean trace);

    @GET
    @Path("/alert-definition-versions/eval-range/{id}")
    @Produces(
    {
        "text/plain"
    })
    public String evaluateOverRange(@PathParam("id") String id, @QueryParam("maxSteps") Integer maxSteps, @QueryParam("interval") Integer interval, @QueryParam("rangeStart") ZonedDateTime rangeStart, @QueryParam("rangeEnd") ZonedDateTime rangeEnd);

    @GET
    @Path("/alert-definition-versions/item/{id}")
    @Produces(
    {
        "application/json"
    })
    public AlertDefinitionVersion get(@PathParam("id") String id);

    @POST
    @Path("/alert-definition-versions/batch")
    @Consumes(
    {
        "application/json"
    })
    @Produces(
    {
        "application/json"
    })
    public List<AlertDefinitionVersion> getBatch(List<String> body);

    @GET
    @Path("/alert-definition-versions/item/{predId}/link/{succId}")
    @Produces(
    {
        "application/json"
    })
    public AlertDefinitionVersion link(@PathParam("predId") String predId, @PathParam("succId") String succId);

    @GET
    @Path("/alert-definition-versions/item/{id}/make-head")
    @Produces(
    {
        "application/json"
    })
    public AlertDefinitionVersion makeHead(@PathParam("id") String id);

    @GET
    @Path("/alert-definition-versions/item/{id}/make-release")
    @Produces(
    {
        "application/json"
    })
    public AlertDefinitionVersion makeRelease(@PathParam("id") String id);

    @POST
    @Path("/alert-definition-versions/parse-import")
    @Consumes(
    {
        "application/json"
    })
    @Produces(
    {
        "application/json"
    })
    public AlertDefinitionDetails parseImport(RawImport body);

    @GET
    @Path("/alert-definition-versions/item/{baseId}/squash/{finalId}")
    @Produces(
    {
        "application/json"
    })
    public AlertDefinitionVersion squash(@PathParam("baseId") String baseId, @PathParam("finalId") String finalId);

}
