/*
 * Copyright (C) 2017-, Optio3, Inc. All Rights Reserved.
 *
 * Proprietary & Confidential Information.
 *
 * Optio3 Hub APIs
 * APIs and Definitions for the Optio3 Hub product.
 *
 * OpenAPI spec version: 1.0.0
 *
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package com.optio3.cloud.client.hub.api;


import java.io.InputStream;
import java.io.OutputStream;
import java.util.List;
import java.util.Map;
import java.util.concurrent.CompletableFuture;

import javax.ws.rs.*;
import javax.ws.rs.core.Response;
import javax.ws.rs.core.MediaType;

import com.fasterxml.jackson.annotation.*;
import com.fasterxml.jackson.databind.*;
import org.apache.cxf.jaxrs.ext.multipart.*;
import org.apache.cxf.jaxrs.ext.PATCH;

@Path("/")
public interface DemoTasksApi
{
    @GET
    @Path("/demo-tasks/simulated-gateway/check/{id}")
    @Consumes(
    {
        "application/json"
    })
    @Produces(
    {
        "application/json"
    })
    public Boolean checkGatewayProgress(@PathParam("id") String id);

    @POST
    @Path("/demo-tasks/simulated-gateway/create")
    @Consumes(
    {
        "application/json"
    })
    public String createGateway(@QueryParam("name") String name, @QueryParam("numDevice") Integer numDevice, @QueryParam("numHistoricalDays") Integer numHistoricalDays, @QueryParam("samplingPeriod") Integer samplingPeriod);

    @GET
    @Path("/demo-tasks/demodata")
    @Produces(
    {
        "application/json"
    })
    public Boolean hasDemoData();

    @GET
    @Path("/demo-tasks/trigger-demo-messages")
    @Produces(
    {
        "application/json"
    })
    public Boolean triggerDemoMessages();

}
