/*
 * Copyright (C) 2017-, Optio3, Inc. All Rights Reserved.
 *
 * Proprietary & Confidential Information.
 *
 * Optio3 Hub APIs
 * APIs and Definitions for the Optio3 Hub product.
 *
 * OpenAPI spec version: 1.0.0
 *
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package com.optio3.cloud.client.hub.api;

import com.optio3.cloud.client.hub.model.ExportCell;
import com.optio3.cloud.client.hub.model.ExportHeader;
import java.io.InputStream;

import java.io.InputStream;
import java.io.OutputStream;
import java.util.List;
import java.util.Map;
import java.util.concurrent.CompletableFuture;

import javax.ws.rs.*;
import javax.ws.rs.core.Response;
import javax.ws.rs.core.MediaType;

import com.fasterxml.jackson.annotation.*;
import com.fasterxml.jackson.databind.*;
import org.apache.cxf.jaxrs.ext.multipart.*;
import org.apache.cxf.jaxrs.ext.PATCH;

@Path("/")
public interface ExportsApi
{
    @POST
    @Path("/exports/add/{id}")
    @Consumes(
    {
        "application/json"
    })
    @Produces(
    {
        "application/json"
    })
    public Boolean add(@PathParam("id") String id, List<List<ExportCell>> body);

    @GET
    @Path("/exports/generate/{id}/excel")
    @Produces(
    {
        "application/json"
    })
    public Boolean generateExcel(@PathParam("id") String id);

    @POST
    @Path("/exports/start")
    @Consumes(
    {
        "application/json"
    })
    @Produces(
    {
        "text/plain"
    })
    public String start(ExportHeader body);

    @GET
    @Path("/exports/stream/{id}/excel/{fileName}")
    @Produces(
    {
        "application/octet-stream"
    })
    public InputStream streamExcel(@PathParam("id") String id, @PathParam("fileName") String fileName);

}
