/*
 * Copyright (C) 2017-, Optio3, Inc. All Rights Reserved.
 *
 * Proprietary & Confidential Information.
 *
 * Optio3 Hub APIs
 * APIs and Definitions for the Optio3 Hub product.
 *
 * OpenAPI spec version: 1.0.0
 *
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package com.optio3.cloud.client.hub.api;

import com.optio3.cloud.client.hub.model.DeliveryOptions;
import com.optio3.cloud.client.hub.model.LocationHierarchy;

import java.io.InputStream;
import java.io.OutputStream;
import java.util.List;
import java.util.Map;
import java.util.concurrent.CompletableFuture;

import javax.ws.rs.*;
import javax.ws.rs.core.Response;
import javax.ws.rs.core.MediaType;

import com.fasterxml.jackson.annotation.*;
import com.fasterxml.jackson.databind.*;
import org.apache.cxf.jaxrs.ext.multipart.*;
import org.apache.cxf.jaxrs.ext.PATCH;

@Path("/")
public interface LocationsApi
{
    @GET
    @Path("/locations/options/{id}/email/get")
    @Produces(
    {
        "application/json"
    })
    public DeliveryOptions getEmailOptions(@PathParam("id") String id);

    @GET
    @Path("/locations/options/{id}/sms/get")
    @Produces(
    {
        "application/json"
    })
    public DeliveryOptions getSmsOptions(@PathParam("id") String id);

    @GET
    @Path("/locations/hierarchy")
    @Produces(
    {
        "application/json"
    })
    public List<LocationHierarchy> getTopLevel();

    @POST
    @Path("/locations/options/{id}/email/set")
    @Consumes(
    {
        "application/json"
    })
    @Produces(
    {
        "application/json"
    })
    public DeliveryOptions setEmailOptions(@PathParam("id") String id, DeliveryOptions body);

    @POST
    @Path("/locations/options/{id}/sms/set")
    @Consumes(
    {
        "application/json"
    })
    @Produces(
    {
        "application/json"
    })
    public DeliveryOptions setSmsOptions(@PathParam("id") String id, DeliveryOptions body);

}
