/*
 * Copyright (C) 2017-, Optio3, Inc. All Rights Reserved.
 *
 * Proprietary & Confidential Information.
 *
 * Optio3 Hub APIs
 * APIs and Definitions for the Optio3 Hub product.
 *
 * OpenAPI spec version: 1.0.0
 *
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package com.optio3.cloud.client.hub.api;

import com.optio3.cloud.client.hub.model.EngineeringUnitsConversionRequest;
import com.optio3.cloud.client.hub.model.EngineeringUnitsConversionResponse;
import com.optio3.cloud.client.hub.model.EngineeringUnitsDescriptor;
import com.optio3.cloud.client.hub.model.EngineeringUnitsFactors;

import java.io.InputStream;
import java.io.OutputStream;
import java.util.List;
import java.util.Map;
import java.util.concurrent.CompletableFuture;

import javax.ws.rs.*;
import javax.ws.rs.core.Response;
import javax.ws.rs.core.MediaType;

import com.fasterxml.jackson.annotation.*;
import com.fasterxml.jackson.databind.*;
import org.apache.cxf.jaxrs.ext.multipart.*;
import org.apache.cxf.jaxrs.ext.PATCH;

@Path("/")
public interface UnitsApi
{
    @POST
    @Path("/units/compact")
    @Consumes(
    {
        "application/json"
    })
    @Produces(
    {
        "application/json"
    })
    public EngineeringUnitsFactors compact(EngineeringUnitsFactors body);

    @POST
    @Path("/units/convert")
    @Consumes(
    {
        "application/json"
    })
    @Produces(
    {
        "application/json"
    })
    public EngineeringUnitsConversionResponse convert(EngineeringUnitsConversionRequest body);

    @GET
    @Path("/units/describe")
    @Produces(
    {
        "application/json"
    })
    public List<EngineeringUnitsDescriptor> describe();

    @POST
    @Path("/units/simplify")
    @Consumes(
    {
        "application/json"
    })
    @Produces(
    {
        "application/json"
    })
    public EngineeringUnitsFactors simplify(EngineeringUnitsFactors body);

}
