<section class="bs page-content">

    <form (ngSubmit)="save()" #userForm="ngForm" novalidate>
        <mat-card class="page-card">
            <mat-card-title>
                <span>Details</span>
                <mat-menu #userDetailMenu="matMenu">
                    <button mat-menu-item type="button" (click)="remove()">Delete</button>
                </mat-menu>
                <button mat-icon-button [matMenuTriggerFor]="userDetailMenu" type="button" class="pull-right">
                    <mat-icon>more_vert</mat-icon>
                </button>
            </mat-card-title>
            <mat-card-content>

                <div class="row">
                    <div class="col-sm-6">

                        <mat-form-field>
                            <input matInput type="text" placeholder="Context" [(ngModel)]="ext.model.context" name="context" required>
                        </mat-form-field>

                        <mat-form-field>
                            <input matInput type="text" placeholder="Key" [(ngModel)]="ext.model.key" name="key" required>
                        </mat-form-field>

                        <mat-form-field>
                            <input matInput type="text" placeholder="Secret" [(ngModel)]="ext.model.value" name="secret">
                        </mat-form-field>

                    </div>
                </div>


            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" type="submit" [disabled]="!userForm.valid || userForm.pristine">Update</button>
                <button mat-raised-button type="button" (click)="exit()" *ngIf="userForm.pristine">Close</button>
                <button mat-raised-button type="button" (click)="exit()" *ngIf="!userForm.pristine">Cancel</button>
                <button mat-icon-button type="button" class="pull-right hidden-xs-down" (click)="remove()">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-card-actions>
        </mat-card>
    </form>

</section>
