<section class="bs page-content">
    <o3-tab-group>
        <ng-template #negativeTabsSpace>
            <o3-filter-chips-container *ngIf="filtersAdapter" [chips]="chips" (editFilterRequested)="filtersAdapter.openOverlay()"></o3-filter-chips-container>
        </ng-template>

        <o3-tab-action label="Export to Excel" (click)="exportToExcel()"></o3-tab-action>

        <o3-tab label="{{hasFilters ? 'Filtered' : 'All'}} Alerts">
            <o3-alerts-list viewStatePrefix="alerts" [filters]="filters"></o3-alerts-list>
        </o3-tab>
    </o3-tab-group>

    <o3-alert-filters-adapter *ngIf="filtersLoaded" [local]="localFiltering"
                              [(request)]="filters" (requestChange)="refresh()" (filterChipsChange)="chips = $event"></o3-alert-filters-adapter>
</section>
