{{#returnContainer}}{{#isMapContainer}}Map<String, {{>boxedReturnTypesInner}}>{{/isMapContainer}}{{#isListContainer}}List<{{>boxedReturnTypesInner}}>{{/isListContainer}}{{/returnContainer}}{{^returnContainer}}{{>returnTypesInner}}{{/returnContainer}}