<section class="bs page-content">

    <form (ngSubmit)="save()" #userForm="ngForm" novalidate>
        <mat-card class="page-card">
            <mat-card-title>
                <span>Details</span>
                <mat-menu #userDetailMenu="matMenu">
                    <button mat-menu-item type="button" (click)="remove()">Delete</button>
                </mat-menu>
                <button mat-icon-button [matMenuTriggerFor]="userDetailMenu" type="button" class="pull-right">
                    <mat-icon>more_vert</mat-icon>
                </button>
            </mat-card-title>
            <mat-card-content>

                <div class="row">
                    <div class="col-sm-6">

                        <mat-form-field>
                            <input matInput type="text" placeholder="First Name" [(ngModel)]="user.model.firstName" name="firstName" required>
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput type="text" placeholder="Last Name" [(ngModel)]="user.model.lastName" name="lastName" required>
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput type="email" placeholder="Email Address" [(ngModel)]="user.model.emailAddress" name="emailAddress" required>
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput type="tel" placeholder="Phone Number" [(ngModel)]="user.model.phoneNumber" name="phoneNumber">
                        </mat-form-field>

                        <mat-form-field>
                            <input matInput type="text" placeholder="Password" [(ngModel)]="user.model.password" name="password">
                        </mat-form-field>

                        <mat-form-field>
                            <input matInput type="text" placeholder="Roles (/ separated)" [(ngModel)]="roles" name="roles">
                        </mat-form-field>

                    </div>
                </div>


            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" type="submit" [disabled]="!userForm.valid || userForm.pristine">Update</button>
                <button mat-raised-button type="button" (click)="exit()" *ngIf="userForm.pristine">Close</button>
                <button mat-raised-button type="button" (click)="exit()" *ngIf="!userForm.pristine">Cancel</button>
                <button mat-icon-button type="button" class="pull-right hidden-xs-down" (click)="remove()">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-card-actions>
        </mat-card>
    </form>

</section>
